
                        </div>
                    </div><!--col-->
                    <div class="col-xs-12 col-md-2 col-md-pull-8">
                        <div class="sidebar-wrap">
                            <%= date %>
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </div><!--.single-->
    </div><!-- #page -->
</div>

    <div class="home-footer" id="home-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav>
                      <ul class="nav navbar-nav">
                        <li><a href="<%= url %>/services">Services</a></li>
                        <li><a href="<%= url %>/plans">Plans</a></li>
                        <li><a href="<%= url %>/blog">Blog</a></li>
                        <li><a href="<%= url %>/terms">Terms</a></li>
                        <li><a href="<%= url %>/privacy">Privacy</a></li>
                        <li><a href="<%= url %>/contact">Contact</a></li>
                        <li><a href="<%= url %>/login">Login</a></li>
                        <li>&copy; 2016 The Site Clinic</li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<script src="<%= url %>/assets/js/lib/jquery.min.js"></script>
<script src="<%= url %>/assets/js/lib/bootstrap.min.js"></script>
</body>
</html>