<%- include('header') %>
                          <h1 class="post-title"><%= title %></h1>
                          <p><%= description %></p>
                          <%- contents %>
<%- include('footer') %>