<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <title>The Site Clinic</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/tsc.css">
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/home.css">
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/onboard.css">
</head>
<body class="body single">

<div id="header">
    <div class="header-wrap">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="logo">
                <a href="/">The Site Clinic</a>
              </div>
            </div>
            <div class="hidden-xs col-sm-5">
              <nav>
                <ul class="nav main navbar-nav">
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Plans</a></li>
                  <!-- <li><a href="#">Blog</a></li> -->
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="hidden-xs col-sm-4">
              <nav>
                <ul class="nav guard navbar-nav">
                  <li class="login"><a href="http://tsc.dev:3030/login">Login</a></li>
                  <li class="signup"><a href="http://tsc.dev:3030/start">Get Started</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="mobile-btn">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class="mobile-header">
            <nav>
              <ul class="nav main navbar-nav">
                <li><a href="#">Services</a></li>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div><!-- #header -->
<div ng-app="tscApp" ng-class="bodyClass">
    <div id="page">
        <div class="single-post">
            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-8 col-md-push-2">
                      <div class="post">
                          <h1 class="post-title">My First Post</h1>
                          <p>We got this.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla, risus vitae volutpat imperdiet, tellus mi porta urna, eu consequat justo felis non est. Praesent sit amet urna vel libero finibus lacinia id sit amet sem. Phasellus a fringilla justo. Pellentesque vitae ultrices orci, eget ultrices nibh. Mauris eu massa ut elit consequat porttitor vel ac nisi. Sed pellentesque convallis ligula, in commodo tellus sodales quis. Integer et euismod nulla. Donec aliquet luctus justo a commodo. Pellentesque id porta purus. Pellentesque eget gravida mi, ac egestas turpis. Cras leo metus, iaculis et felis nec, rutrum porttitor velit. Pellentesque hendrerit et erat a auctor. Sed nisl odio, imperdiet eu blandit id, consequat vitae tortor.</p>
<p>Cras vel sem eget diam egestas bibendum ac ut elit. Proin vestibulum faucibus nulla, a eleifend nibh viverra at. Fusce odio sapien, bibendum quis purus nec, efficitur molestie enim. Maecenas dapibus et urna at venenatis. Vivamus imperdiet sapien et arcu placerat, nec congue nisi sagittis. Ut ut malesuada ipsum. Fusce quis purus diam. In tortor tortor, bibendum volutpat feugiat maximus, efficitur non lorem. Aliquam hendrerit odio id turpis ullamcorper tristique. Ut gravida pretium nulla, non rhoncus elit ornare ullamcorper. Nunc vitae urna bibendum, laoreet lorem non, ullamcorper risus. Sed egestas vitae odio quis mollis. Donec erat urna, tincidunt non varius sed, consequat at odio.</p>
<p>Nunc dignissim at augue sed placerat. Aliquam sit amet diam a nunc dictum interdum vitae vel sem. Mauris egestas faucibus justo, vel placerat ipsum ultricies sed. Proin consequat lacinia diam id mollis. Suspendisse sit amet venenatis nunc, vel malesuada ex. Vivamus lacinia aliquet risus. Donec eu dictum justo. Aliquam ornare est nec ante cursus accumsan. Maecenas id consequat lorem, quis semper dui. Nulla fermentum ex non viverra rutrum. Nullam aliquam vitae odio sed tincidunt. Nam eget mi ut nisl rutrum consectetur. Curabitur at arcu non elit pellentesque ornare ut non eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
<p>Sed ut consequat diam. Donec a justo at felis euismod semper. Donec dictum eu eros at blandit. Nullam pellentesque nunc ut quam congue, in pretium nunc mollis. Integer eu pulvinar risus. Fusce eu turpis non sem faucibus dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam purus orci, vestibulum vel ullamcorper vel, molestie nec neque. Fusce maximus a enim eu pellentesque. Phasellus eget felis at arcu commodo porttitor. Curabitur porttitor ex dui, et ullamcorper nisi bibendum in. Suspendisse condimentum semper risus, ut malesuada nunc gravida quis. Integer ac commodo ante, non finibus mi. Praesent lacinia nisi sem, in interdum nisi rutrum vel.</p>
<p>Aenean at enim dolor. Mauris id metus lobortis, tincidunt nunc vel, tincidunt purus. Curabitur vestibulum, sapien et fringilla malesuada, turpis libero volutpat leo, eget fermentum quam lectus eu risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec facilisis rutrum nisi in bibendum. Nullam lectus nisi, imperdiet ac lobortis sit amet, commodo et ex. Integer vestibulum scelerisque velit sit amet ultricies. Praesent gravida ullamcorper felis. Nullam ligula diam, imperdiet vel condimentum sed, porta quis sem. Duis in iaculis ipsum. Etiam venenatis gravida blandit. Aenean a tristique nibh. Nunc cursus nisi nec rutrum sagittis. Cras tristique purus turpis, a posuere mi scelerisque ac. </p>


                        </div>
                    </div><!--col-->
                    <div class="col-xs-12 col-md-2 col-md-pull-8">
                        <div class="sidebar-wrap">
                            August 20th 2012, 12:00 am
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </div><!--.single-->
    </div><!-- #page -->
</div>

    <div class="home-footer" id="home-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav>
                      <ul class="nav navbar-nav">
                        <li><a href="http://tsc.dev:3030/services">Services</a></li>
                        <li><a href="http://tsc.dev:3030/plans">Plans</a></li>
                        <li><a href="http://tsc.dev:3030/blog">Blog</a></li>
                        <li><a href="http://tsc.dev:3030/terms">Terms</a></li>
                        <li><a href="http://tsc.dev:3030/privacy">Privacy</a></li>
                        <li><a href="http://tsc.dev:3030/contact">Contact</a></li>
                        <li><a href="http://tsc.dev:3030/login">Login</a></li>
                        <li>&copy; 2016 The Site Clinic</li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<script src="http://tsc.dev:3030/assets/js/lib/jquery.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/bootstrap.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/angular-cookies.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/angular-ui-router.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/jquery.backstretch.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/tsc.js"></script>

</body>
</html>