
    <div class="page-start">
        <div class="container-fluid">
            <div class="row questions">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <div id="planChooser" class="planChooser">
                        <header>
                            <h2>{{ screen.title }}</h2>
                        </header>
                        <div class="onboard complete">
                            <div class="answer-wrap">
                                <p>Thank you for your payment.<br />We've sent a confirmation email to your inbox at <strong>{{em}}</strong></p>
                                <p>Now, let's set up your dashboard.</p>
                                <a href="/setup" class="btn sunset-btn">Next</a>
                            </div>
                        </div>
                    </div><!-- #planChooser -->
                </div>
            </div>
        </div>
    </div>