

<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 action">
                1
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 action">
                2
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 action">
                3
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 action">
                4
            </div>
        </div>
    </div>
</div>
<!-- #footer -->