<%- include('partials/header') %>

<div id="tscLogin">
    <div id="page" class="login single">
      <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="login-wrapper">
            <h2>Email Tests</h2>
            <form action="/email" method="post">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>            
          </div>
        </div>
      </div>
    </div><!-- #page -->
</div>

<%- include('partials/footer') %>