
    <div class="page-home">
        <div class="cta" id="home-cta">
            <h2 class="title">Reliable website support, repair, and maintenance</h2>
            <h3>Starting at $59 for urgent care issues.</h3>
            <a href="/start" class="coral button btn tsc-cta">Get Started</a>

            <div class="learn-more">
                <p>Learn More</p>
                <p class="bounce"><i class="fa fa-arrow-down"></i></p>
            </div>
        </div>

        <div class="how-it-works" id="how-it-works">
            <div class="container">
                <div class="row">
                    <div class="it-works col-xs-12 col-sm-3" id="it-works-1">
                        <span class="number-icon">
                            <svg enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Expanded"><g><g><path d="M44,40H4c-2.206,0-4-1.794-4-4V6c0-2.206,1.794-4,4-4h40c2.206,0,4,1.794,4,4v30C48,38.206,46.206,40,44,40z M4,4     C2.897,4,2,4.897,2,6v30c0,1.103,0.897,2,2,2h40c1.103,0,2-0.897,2-2V6c0-1.103-0.897-2-2-2H4z"/></g><g><path d="M38,46H10c-0.552,0-1-0.448-1-1s0.448-1,1-1h28c0.552,0,1,0.448,1,1S38.552,46,38,46z"/></g><g><path d="M31.02,46c-0.007,0-0.013,0-0.02,0H17c-0.321,0-0.623-0.154-0.811-0.416c-0.188-0.261-0.239-0.596-0.138-0.901l2-6     C18.188,38.275,18.569,38,19,38h10c0.431,0,0.812,0.275,0.949,0.684l1.94,5.821C31.972,44.651,32.02,44.82,32.02,45     C32.02,45.552,31.572,46,31.02,46z M18.387,44h11.226l-1.333-4h-8.559L18.387,44z"/></g><g><path d="M44,32H4V6h40V32z M6,30h36V8H6V30z"/></g><g><circle cx="24" cy="35" r="2"/></g></g></g></svg>
                        </span>
                        <h3>File A Ticket</h3>
                        <p>Fill out the details of your issue on our secure form where you can upload screenshots and other relevant items to help us resolve your issue.</p>
                    </div>
                    <div class="it-works col-xs-12 col-sm-3" id="it-works-1">
                        <span class="number-icon">
                            <svg enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Expanded"><g><g><path d="M41,37H7c-0.553,0-1-0.448-1-1V14c0-0.552,0.447-1,1-1h3v2H8v20h32v-4h2v5C42,36.552,41.553,37,41,37z"/></g><g><path d="M47,29H13c-0.553,0-1-0.448-1-1V6c0-0.552,0.447-1,1-1h34c0.553,0,1,0.448,1,1v22C48,28.552,47.553,29,47,29z M14,27h32     V7H14V27z"/></g><g><path d="M35,45H1c-0.553,0-1-0.448-1-1V22c0-0.552,0.447-1,1-1h3v2H2v20h32v-4h2v5C36,44.552,35.553,45,35,45z"/></g></g></g></svg>
                        </span>
                        <h3>Pick a plan</h3>
                        <p>Find one that works with your budget and your needs. Add on features when things get hairy, and remove them when you're done with them.</p>
                    </div>
                    <div class="it-works col-xs-12 col-sm-3" id="it-works-2">
                        <span class="number-icon">
                            <svg enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Expanded"><g><g><path d="M32,28c-0.129,0-0.259-0.024-0.383-0.076C31.243,27.77,31,27.404,31,27v-7h-3c-0.553,0-1-0.447-1-1s0.447-1,1-1h4     c0.553,0,1,0.447,1,1v5.586l6.293-6.293C39.48,18.105,39.734,18,40,18h6V2H18v7c0,0.553-0.447,1-1,1s-1-0.447-1-1V1     c0-0.553,0.447-1,1-1h30c0.553,0,1,0.447,1,1v18c0,0.553-0.447,1-1,1h-6.586l-7.707,7.707C32.516,27.898,32.26,28,32,28z"/></g><g><path d="M32,48H0v-3.978c0-2.418,1.53-4.589,3.809-5.402l7.244-2.588v-3.59h2v5L4.48,40.503C2.997,41.033,2,42.447,2,44.022V46     h28v-1.978c0-1.575-0.996-2.989-2.479-3.52l-8.573-3.061V32.17h2v3.862l7.246,2.588C30.471,39.434,32,41.604,32,44.022V48z"/></g><g><path d="M15.803,34.579c-4.904,0-8.895-4.699-8.895-10.475c0-5.774,3.99-10.473,8.895-10.473s8.895,4.698,8.895,10.473     C24.697,29.88,20.707,34.579,15.803,34.579z M15.803,15.632c-3.802,0-6.895,3.801-6.895,8.473c0,4.673,3.093,8.475,6.895,8.475     s6.895-3.802,6.895-8.475C22.697,19.433,19.604,15.632,15.803,15.632z"/></g><g><path d="M21.575,24.453c-1.878,0-3.37-0.797-4.638-2.475c-1.414,1.363-3.742,2.337-5.871,2.337c-1.294,0-2.413-0.27-3.521-0.85     l0.928-1.771c0.821,0.43,1.621,0.621,2.593,0.621c1.962,0,4.373-1.196,5.059-2.51l0.847-1.622l0.908,1.589     c1.311,2.296,2.626,2.986,4.839,2.562c0.221-0.042,0.423-0.044,0.619-0.044c0.067,0,0.135,0.004,0.208-0.005l0.242,1.984     c-0.163,0.021-0.314,0.022-0.469,0.021c-0.07-0.003-0.146-0.007-0.225,0.008C22.562,24.4,22.056,24.453,21.575,24.453z"/></g><g><path d="M37,10c-0.553,0-1,0.448-1,1c0,0.552,0.447,1,1,1c0.553,0,1-0.448,1-1C38,10.448,37.553,10,37,10L37,10z"/></g><g><path d="M32,10c-0.553,0-1,0.448-1,1c0,0.552,0.447,1,1,1c0.553,0,1-0.448,1-1C33,10.448,32.553,10,32,10L32,10z"/></g><g><path d="M27,10c-0.553,0-1,0.448-1,1c0,0.552,0.447,1,1,1c0.553,0,1-0.448,1-1C28,10.448,27.553,10,27,10L27,10z"/></g></g></g></svg>
                        </span>
                        <h3>Get a Technician</h3>
                        <p>Our expert technicians will contact you to gather any more information from you and work on your site until it's fixed.</p>
                    </div>
                    <div class="it-works col-xs-12 col-sm-3" id="it-works-2">
                        <span class="number-icon">
                            <svg enable-background="new 0 0 48 48" height="48px" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Expanded"><g><g><path d="M6,45.414V36H3c-1.654,0-3-1.346-3-3V7c0-1.654,1.346-3,3-3h42c1.654,0,3,1.346,3,3v26c0,1.654-1.346,3-3,3H15.414     L6,45.414z M3,6C2.448,6,2,6.448,2,7v26c0,0.552,0.448,1,1,1h5v6.586L14.586,34H45c0.552,0,1-0.448,1-1V7c0-0.552-0.448-1-1-1H3z     "/></g><g><circle cx="16" cy="20" r="2"/></g><g><circle cx="32" cy="20" r="2"/></g><g><circle cx="24" cy="20" r="2"/></g></g></g></svg>
                        </span>
                        <h3>Keep in Touch</h3>
                        <p>Use your personal dashboard to communicate with your technician, request new jobs, and to keep track of the progress we're making.</p>
                    </div>
                </div>
            </div>
            <div class="works-cta">
                <a href="/start" class="coral button btn tsc-cta">Get Started</a>
            </div>
        </div>
    </div><!-- .page-home -->