<%- include('partials/header') %>

<div id="tscLogin">
    <div id="page" class="login single">
      <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="login-wrapper">
            <h2>Login To Your Dashboard</h2>
            <% if (error) { %>
              <p class="error">There was an error logging you in. Please try again.</p>
            <% } %>
            <form action="/login" method="post">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>            
          </div>
        </div>
      </div>
    </div><!-- #page -->
</div>

<%- include('partials/footer') %>