
    <div class="page-start">
        <div class="container-fluid">
            <div class="row questions">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <div id="planChooser" class="planChooser">
                        <header>
                            <h2>{{ screen.title }}</h2>
                        </header>
                        <div class="onboard" ng-show="!start">
                            <div ui-view></div>
                            <nav class="onboard-nav" ng-show="!pay && !steps">
                                <a href="/start">&#8592; Back</a>
                            </nav>
                        </div>
                    </div><!-- #planChooser -->
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="singleModal" tabindex="-1" role="dialog" aria-labelledby="singleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="singleModalLabel">
            Single Ticket Details
            <br /><small>Up to 1 hour of service</small>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped comparison">
          <tbody>
              <tr>
                  <td class="service-name">
                      Response Time
                  </td>
                  <td>
                      ~24 hours
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Turnaround Time
                  </td>
                  <td>
                      Max 5 days
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Concurrent Jobs
                  </td>
                  <td>
                      1 job at a time
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Domains
                  </td>
                  <td>
                      1 domain
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Additional Jobs
                  </td>
                  <td>
                      $59.99/job
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bronzeModal" tabindex="-1" role="dialog" aria-labelledby="bronzeModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bronzeModalLabel">
            Bronze Care Plan Details
            <br /><small>Recurring monthly. Cancel anytime.</small>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped comparison">
          <tbody>
              <tr>
                  <td class="service-name">
                      Jobs per month
                  </td>
                  <td>
                      5
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Response Time
                  </td>
                  <td>
                      ~24 hours
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Turnaround Time
                  </td>
                  <td>
                      Max 5 days
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Concurrent Jobs
                  </td>
                  <td>
                      1 job at a time
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Domains
                  </td>
                  <td>
                      1 domain
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Maintenance Reports
                  </td>
                  <td>
                      Monthly
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Additional Jobs
                  </td>
                  <td>
                      $39.99/job
                  </td>
              </tr>

              <tr>
                  <td colspan=4 class="header-row">
                     Security
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Vulnerability Scans
                  </td>
                  <td>
                      Weekly
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Scheduled Backups
                  </td>
                  <td>
                      Monthly
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="silverModal" tabindex="-1" role="dialog" aria-labelledby="silverModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="silverModalLabel">
            Silver Care Plan Details
            <br /><small>Recurring monthly. Cancel anytime.</small>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped comparison">
          <tbody>
              <tr>
                  <td class="service-name">
                      Jobs per month
                  </td>
                  <td>
                      10
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Response Time
                  </td>
                  <td>
                      ~12 hours
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Turnaround Time
                  </td>
                  <td>
                      Max 3 days
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Concurrent Jobs
                  </td>
                  <td>
                      Up to 2 jobs at a time
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Domains
                  </td>
                  <td>
                      Up to 2 domains
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Maintenance Reports
                  </td>
                  <td>
                      Weekly
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Additional Jobs
                  </td>
                  <td>
                      $29.99/job
                  </td>
              </tr>

              <tr>
                  <td colspan=4 class="header-row">
                     Security
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Vulnerability Scans
                  </td>
                  <td>
                      Weekly
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Scheduled Backups
                  </td>
                  <td>
                      Weekly
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="goldModal" tabindex="-1" role="dialog" aria-labelledby="goldModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="goldModalLabel">
            Gold Care Plan Details
            <br /><small>Recurring monthly. Cancel anytime.</small>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped comparison">
          <tbody>
              <tr>
                  <td class="service-name">
                      Jobs per month
                  </td>
                  <td>
                      15
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Response Time
                  </td>
                  <td>
                      ~6 hours
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Turnaround Time
                  </td>
                  <td>
                      Max 2 days
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Concurrent Jobs
                  </td>
                  <td>
                      Up to 3 jobs at a time                      
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Domains
                  </td>
                  <td>
                      Up to 3 domains                      
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Maintenance Reports
                  </td>
                  <td>
                      Weekly
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Additional Jobs
                  </td>
                  <td>
                      $19.99/job
                  </td>
              </tr>

              <tr>
                  <td colspan=4 class="header-row">
                     Security
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Vulnerability Scans
                  </td>
                  <td>
                      Daily
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Scheduled Backups
                  </td>
                  <td>
                      Daily
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="compare" tabindex="-1" role="dialog" aria-labelledby="compareLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            Care Plan Comparison
            <br /><small>Recurring monthly. Cancel anytime.</small>
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped comparison">
          <thead>
              <th>
                  &nbsp;
              </th>
              <th>
                  Bronze Care Plan
                  <span class="price">$79.99</span>
              </th>
              <th>
                  Silver Care Plan
                  <span class="price">$99.99</span>
              </th>
              <th>
                  Gold Care Plan
                  <span class="price">$199.99</span>
              </th>
          </thead>
          <tbody>
              <tr>
                  <td class="service-name">
                      Jobs per month
                  </td>
                  <td>
                      5
                  </td>
                  <td>
                      10
                  </td>
                  <td>
                      15
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Response Time
                  </td>
                  <td>
                      ~24 hours
                  </td>
                  <td>
                      ~12 hours
                  </td>
                  <td>
                      ~6 hours
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Turnaround Time
                  </td>
                  <td>
                      Max 5 days
                  </td>
                  <td>
                      Max 3 days
                  </td>
                  <td>
                      Max 2 days
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Concurrent Jobs
                  </td>
                  <td>
                      1 job at a time
                  </td>
                  <td>
                      Up to 2 jobs at a time
                  </td>
                  <td>
                      Up to 3 jobs at a time                      
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Number of Domains
                  </td>
                  <td>
                      1 domain
                  </td>
                  <td>
                      Up to 2 domains
                  </td>
                  <td>
                      Up to 3 domains                      
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Maintenance Reports
                  </td>
                  <td>
                      Monthly
                  </td>
                  <td>
                      Weekly
                  </td>
                  <td>
                      Weekly
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Additional Jobs
                  </td>
                  <td>
                      $39.99/job
                  </td>
                  <td>
                      $29.99/job
                  </td>
                  <td>
                      $19.99/job
                  </td>
              </tr>

              <tr>
                  <td colspan=4 class="header-row">
                     Security
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Vulnerability Scans
                  </td>
                  <td>
                      Weekly
                  </td>
                  <td>
                      Weekly
                  </td>
                  <td>
                      Daily
                  </td>
              </tr>
              <tr>
                  <td class="service-name">
                      Scheduled Backups
                  </td>
                  <td>
                      Monthly
                  </td>
                  <td>
                      Weekly
                  </td>
                  <td>
                      Daily
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>