<%- include('../../partials/header') %>
<div ng-app="tscApp" ng-class="bodyClass">
    <div id="page" class="login single">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="login-wrapper">
                    <h2>Setup Your Dashboard</h2>
                    <% if (error) { %>
                    <p class="error"><%= error %></p>
                    <% } %>
                    <form action="/dash-setup" method="post">
                        <div ui-view></div>
                    </form>            
                </div>
            </div>
        </div>
    </div><!-- #page -->
</div>
<%- include('../../partials/footer') %>