<%- include('partials/header') %>

<div ng-app="tscAppS" ng-class="bodyClass">
<div id="tscDashboard" class="tscDashboard">
<div class="wrapper">
<%- include('partials/sidebar') %>

    <div class="main-panel">
        <%- include('partials/navigation') %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div id="page">
                        DASHBOARD HOME
                    </div><!-- #page -->
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('partials/footer') %>