<%- include('partials/header') %>
                    <div id="page">

                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Tickets</h4>
                                <p class="category">All tickets</p>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                    Subject
                                                </th>
                                                <th class="text-right">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% if(tickets.length > 0) { tickets.forEach(function(ticket) { %>
                                            <tr>
                                                <td>
                                                <% if( ticket.status == 10 ) { %>
                                                    <span class="second-icon fa fa-check-square-o"></span>
                                                <% } else if( ticket.status == 0 ) { %>
                                                    <span class="second-icon fa fa-square-o"></span> Pending Assignment
                                                <% } else { %>
                                                    <span class="second-icon fa fa-check-square-o"></span>
                                                <% } %>
                                                </td>
                                                <td><%= ticket.subject %></td>
                                                <td class="td-actions text-right">
                                                    <a href="<%= baseUrl %>/dashboard/tickets/edit/<%= ticket.id %>">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </a>
                                                    <a href="<%= baseUrl %>/dashboard/tickets/remove/<%= ticket.id %>">
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }); } %>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- #page -->
<%- include('partials/footer') %>