
                        <div class="header">
                            <h4 class="title">Message - New</h2>
                        </div>
                        <div class="content">
                            <form action="/tickets" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <input type="text" class="form-control" placeholder="Subject" name="subject" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="5" class="form-control" placeholder="Description" name="description" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-9">
                                        <div class="form-group">
                                            <label>How Critical?</label>
                                            <select class="form-control" name="careLevel">
                                                <option value="1">Important</option>
                                                <option value="2">Urgent</option>
                                                <option value="3">Emergency</option>
                                            </select>
                                        </div>                                        
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info btn-fill pull-right">Submit Ticket</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>