
                        <div class="header">
                            <h4 class="title">Tickets - Error</h2>
                        </div>
                        <div class="content">
                            <h5>There was en error creating your ticket. Please try again.</h5>
                            <a href="/dashboard/tickets/create" class="btn btn-success">New Ticket</a><br />
                            <pre>
                                <%= error %>
                            </pre>
                        </div>