
                        <div class="header">
                            <h4 class="title">Ticket #<%= ticket.id %>: "<%= ticket.subject %>"</h2>
                        </div>
                        <div class="content">
                            <h5><%= ticket.description %></h5>
                            <p>
                            <% if( user.role_id == 0 ){ %>
                            Your technician has been notified and will be in touch with you shortly.
                            <% } else{ %>
                            Ticket created.
                            <% } %>
                            </p>
                        </div>