
                        <div class="header">
                            <h4 class="title">Tickets - All</h2>
                            <a href="/dashboard/tickets/create" class="btn btn-success">New Ticket</a>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Subject</th>
                                        <th>Status</th>
                                        <th>Update</th>
                                        <th>Close</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(tickets.length > 0) { tickets.forEach(function(ticket) { %>
                                    <tr>
                                        <td>#<%= ticket.id %></td>
                                        <td><%= ticket.subject %></td>
                                        <td>Pending</td>
                                        <td class="edit-functions"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                                        <td class="edit-functions"><i class="fa fa-close" aria-hidden="true"></i></td>
                                    </tr>
                                <% }); } %>
                                <% if(tickets.length < 1) { %>
                                    <tr>
                                        <td colspan="5">No Tickets Yet</td>
                                    </tr>
                                <% } %>
                                    
                                </tbody>
                            </table>                            
                        </div> 