<%- include('partials/header') %>
                    <div id="page">
                    <div class="card">
                        <%- include('tickets.'+action+'.ejs') %>
                    </div>
                    </div><!-- #page -->
<%- include('partials/footer') %>