body
{
  position: relative;
  margin: 0;
  padding-bottom: 300px;
  min-height: calc(100vh - 300px);
}

.pageWrap
{
  min-height: calc(100vh - 300px);
}

.clearfix:after
{
  content: "";
  display: table;
  clear: both;
}

.header ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
  .header .logo
  {
    color: #ffffff;
    width: 100%;
  }
  .header .logo img
  {
    max-width: 100%;
  }
  .header nav
  {
    float: left;
    margin-left: 50px;
  }
  .header ul li
  {
      padding: 0 5px;
      margin: 0;
      display: none;
  }
  .header ul li.mobile
  {
    display: inline-block;
  }
    .header ul li a
    {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
    }


.tscServices
{
    max-width: 800px;
    margin: 0 auto;
}
.services
  .service
  {
    height: 275px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  .services
  .service i
  {
    color: #3bccce;
    font-size: 120px;
  }
  .service p
  {
    font-weight: 300;
    line-height: 1.5;
  }
  .service p.short
  {
    padding: 5px;
    margin: 20px auto;
    font-size: 2em;
  }
  .service .features
  {
      list-style: square;
      font-size: 1.25em;
      margin: 0 0 0 10px;
      padding: 0;
      color: #779595;
      text-align: left;
  }
  .service .features li
  {
      margin-top: 20px;
  }
.pageWrap
{
  margin-bottom: 200px;
}
.page-header
{
    margin: 80px 0 55px 0;
    color: #ffffff;
    text-align: center;
}
    .page-header h1
    {
        font-weight: 900;
        font-size: 45px;
    }
.page-nav
{
    text-align: center;
    width: 75%;
    max-width: 1400px;
    margin: 30px auto;
}
    .page-nav .ui.button
    {
        background: #EEF7F5;
        color: #506D6D;
    }
    .page-nav .ui.button:hover
    {
        -webkit-transition: all 300ms ease-out 100ms;
        transition: all 300ms ease-out 100ms;
        background: #ffffff;
        color: #ed616c;
    }
/* BEGIN .service-packages */
  .service-packages.ui.grid
  {
      max-width: 1200px;
      margin: 0 auto;
  }
      .service-packages .service
      {
          color: #333333;
          padding: 20px;
          position: relative;
          height: 750px;
          text-align: center;
          background: #ffffff;
          border: 2px solid rgba(0,0,0,0.1);
          box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
          -webkit-transition: all 300ms ease-out 100ms;
          transition: all 300ms ease-out 100ms;
      }
      .service-packages .service:hover
      {
          box-shadow: 1px 1px 20px rgba(255,255,255,0.8);
          border: 2px solid #EDF2F7;
      }
        .service-packages .service h3
        {
          color: #4f6767;
        }
        .service-packages .service i
        {
          font-size: 60px;
          color: #3bccce;
        }
        .service-packages .service .cost
        {
          margin: 10px auto 20px auto;
          text-align: center;
          background: #ffffff;
          border: 2px solid #ed616c;
          color: #ed616c;
          padding: 7px 20px;
          width: calc(200px - 20px);
          font-weight: 400;
          font-size: 25px;
          -webkit-transition: all 200ms ease-out 100ms;
          transition: all 200ms ease-out 100ms;
        }

          .service-packages .service .pay.ui.button
          {
              background: #3eeac4;
              color: #ffffff;
              -webkit-transition: all 200ms ease-out 100ms;
              transition: all 200ms ease-out 100ms;
          }
          .service-packages .service .pay.ui.button:hover
          {
              cursor: pointer;
              background: #16C59F;
          }
      .service-packages .service:hover .cost
      {
          background: #ed616c;
          border: 2px solid #ed616c;
          color: #ffffff;
      }
        .service-packages .service .service-actions
        {
          width: 100%;
          text-align: center;
        }
        .service-packages .service .service-actions:last-child
        { 
          position: absolute;
          left: 0;
          bottom: 10px;
        }
  .service-component
  {
    padding: 75px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
      .service-component .service
      {
          text-align: center;
          background: #ffffff;
          border: 1px solid #EDE7DE;
          box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
      }
      .service-component .service:hover
      {
          border: 1px solid #3bccce;
          box-shadow: 0px 0px 25px rgba(255,255,255,0.8);
      }
    .service-component .ui.grid > *
    {
      padding: 0 !important;
    }
      .service-component .service .title
      {
        text-transform: uppercase;
        font-size: 18px;
        width: 60%;
        margin: 30px auto 0 auto;
        text-align: center;
        color: #767676;
        font-family: 'Lato', sans-serif;
      }
/* END .service-packages */

/* BEGIN .checkout */
    .checkout
    {
        max-width: 1000px;
        margin: 0 auto 100px auto;
    }
    .checkout form textarea
    {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.5;
    }
    .checkout #one
    {
        display: block;
    }
    .checkout .segment
    {
        min-height: 500px;
        padding: 30px;
    }
    .checkout .payment-details .step i
    {
        display: inline-block;
        margin-right: 20px;
        font-size: 2.5em;
    }
    .checkout .package-details
    {
        background: #ffffff;
    }
        .checkout .package-details h3
        {
            text-align: center;
        }
        .checkout .package-details .card
        {
            margin: 0 auto;
        }
        .checkout .package-details .card .image
        {
            padding: 30px 0;
            font-size: 1.5em;
            text-align: center;
            text-transform: uppercase;
            background: #149CB2;
            color: #ffffff;
        }
        .checkout .package-details .card .image i
        {
            font-size: 3em;
        }
        .checkout .package-details .card .image .title
        {
            padding: 0;
            margin: 10px 0;
        }
        .checkout .package-details .features
        {
            list-style: none;
            margin: 0 0 0 20px;
            padding: 0;
        }
        .checkout .package-details .features li
        {
            margin: 6px 0;
        }
    .checkout .payment-options
    {
        max-width: 255px;
        height: 100%;
        padding: 40px;
        margin: 0 auto;
        text-align:center;
    }

/* END .checkout */ 

.home-cta .button.ui, .second-cta .button.ui {
  margin: 20px 0;
  color: #ffffff;
  background: #ed616c;
  background: -webkit-linear-gradient(45deg, #ed616c 0%, #f18664 100%);
  background: linear-gradient(45deg, #ed616c 0%, #f18664 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed616c', endColorstr='#f18664',GradientType=1 ); }
  .home-cta .button.ui:hover, .second-cta .button.ui:hover {
    box-shadow: 0px 2px 20px #ffffff;
    color: #ffffff;
    background: #f18664;
    background: -webkit-linear-gradient(45deg, #f18664 0%, #ed616c 100%);
    background: linear-gradient(45deg, #f18664 0%, #ed616c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18664', endColorstr='#ed616c',GradientType=1 ); 
  }
  .home-cta .button.ui:focus,
  .second-cta .button.ui:focus {
    color: #ffffff;
    background: #f18664;
    background: -moz-linear-gradient(top, #f18664 0%, #ed616c 100%);
    background: -webkit-linear-gradient(top, #f18664 0%, #ed616c 100%);
    background: linear-gradient(to bottom, #f18664 0%, #ed616c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18664', endColorstr='#ed616c',GradientType=0 ); }
  .home-cta .button.ui:active,
  .second-cta .button.ui:active {
    background: #ed616c;
    background: -moz-linear-gradient(top, #ed616c 0%, #f18664 100%);
    background: -webkit-linear-gradient(top, #ed616c 0%, #f18664 100%);
    background: linear-gradient(to bottom, #ed616c 0%, #f18664 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed616c', endColorstr='#f18664',GradientType=0 ); }

/* BEGIN .header */
    .header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
        padding: 7px;
        -webkit-transition: all 300ms ease-out 100ms;
        transition: all 300ms ease-out 100ms;
    }
    .scrolled.header
    {
        background: #ffffff;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
        padding: 10px 0;
    }
        .header .ui.menu
        {
            background: transparent;
            border: 0;
            box-shadow: none;
            max-width: 1400px;
            margin: 0 auto;
        }
        .ui.menu .item::before {
            position: static;
            content: '';
            top: 0;
            right: 0;
            height: 0;
            width: 0;
            background: transparent;
        }
        .header .ui.menu .primary-logo
        {
            width: 250px;
        }
        .header .ui.menu h1
        {
            font-size: 1.5em;
            width: 250px;
            height: 40px;
            background-image: url('../images/thesitecliniclogoverticalwhite.png');
            background-size: contain;
            background-repeat: no-repeat;
            text-indent: -99999px;
        }
        .scrolled.header .ui.menu h1
        {
            background-image: url('../images/thesitecliniclogoverticalturquoise.png');
        }
        .header .ui.menu .item
        {
            color: #ffffff;
            border: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0;
        }
        .scrolled.header .ui.menu.item
        {
            color: #3bccce;
        }
            .header .ui.menu .item
            {
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 1.125em;
                letter-spacing: .1em;
            }
            .scrolled.header .ui.menu .item
            {
                color: #3bccce;
            }
            .header .ui.menu .item.active
            {
                color: #ffffff;
                background: transparent;
            }
            .scrolled.header .ui.menu .item.active
            {
                color: #3bccce;
            }
            .scrolled.header .ui.menu .item.login
            {
                color: #ed616c;
            }
            .scrolled.header .ui.menu .item.login:hover
            {
                color: #ed616c;
                background: rgba(234,213,215,.2);
            }
            .header .ui.menu a.item:hover
            {
                color: #ffffff;
                background: rgba(41,198,208,.2);
            }
            .scrolled.header .ui.menu a.item:hover
            {
                color: #3bccce;
            }
/* END .header */
/* BEGIN home */
    body
    {
        font-size: 12px;
        font-family: 'Lato', Helvetica, Verdana, Arial, sans-serif;
    }
    /* BEGIN .home-cta */
        #home-cta
        {
            min-height: 50vh;
            padding: 125px 0 50px 0;
            margin-top: -60px;
            text-align: center;
            width: 100%;
            position: relative;
        }
        .home-cta h2, .home-cta h3
        {
            color: #ffffff;
        }
        .home-cta h2
        {
            width: 90%;
            margin: 0 auto;
            padding-top: 20px;
            border-top: 1px solid #ffffff;
            font-size: 3em;
            font-weight: 900;
        }
        .home-cta h3
        {
            font-size: 2em;
            margin: 0 auto;
            width: 90%;
            padding-bottom: 20px;
            border-bottom: 1px solid #ffffff;
        }
    /* END .home-cta */

    /* BEGIN .getstarted */
        .get-started.ui.grid
        {
            max-width: 600px;
            margin: 20px auto;
        }
            .get-started h4
            {
                text-transform: uppercase;
                font-size: 22px;
                width: 95%;
                padding-top: 10px;
                margin: 0 auto;
                color: #ffffff;
            }
            .get-started .service
            {
                width: 80%;
                padding: 60px 0;
                margin: 0px auto;
                background: #ffffff;
                box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
                -webkit-transition: all 100ms ease-out 100ms;
                transition: all 100ms ease-out 100ms;
            }
            .get-started .service:hover
            {
                box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.5);
                -webkit-transition: all 100ms ease-out 100ms;
                transition: all 100ms ease-out 100ms;
            }
                .get-started .service .title
                {
                    text-transform: uppercase;
                    font-size: 20px;
                }
                .get-started .service:hover a {
                    color: #ED616C;
                    text-shadow: 0px 0px 3px rgba(237,97,108,.2);
                }
                .get-started .service a
                {
                    color: #ED616C;
                    -webkit-transition: all 100ms ease-out 100ms;
                    transition: all 100ms ease-out 100ms;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .get-started .service a:hover
                {
                    color: #ED616C;
                    text-shadow: 0px 0px 3px rgba(237,97,108,.2);
                }
                .get-started .service i
                {
                    font-size: 90px;
                }
    /* END .getstarted */

    /* BEGIN .learn-more */
        .learn-more
        {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 15px;
        }
            .learn-more > p {
                width: 120px;
                margin: 0 auto;
                padding: 10px;

                font-weight: 900;
                font-size: 1em;
                color: #ffffff;
                letter-spacing: .2em;
                text-transform: uppercase;
                text-align: center;
            }
                .learn-more p a
                {
                    color: #ffffff;                    
                }
            .learn-more > p:hover
            {
                cursor: pointer;
                background: #ffffff;
                color: #f18664;
            }
                .learn-more > p:hover a
                {
                    color: #f18664;
                }
    /* END .learn-more */
/* END home */
/* BEGIN .tsc-section */
    .tsc-section
    {
        width: 100%;
        background: #ffffff;
    }
    .how-it-works
    {
        padding: 55px 0;
    }
        .how-it-works .ui.grid
        {
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
        }
        .tsc-section .section-title
        {
            text-align: center;
            width: 70%;
            margin: 0 auto 30px auto;
            font-size: 2.5em;
            font-weight: 900;
            color: #506d6d;
            display: block;
        }
        .tsc-section .it-works
        {
            color: #506d6d;
        }
            .tsc-section .it-works .number-icon
            {
                text-align: center;
                background: #eef7f5;
                fill: #3bccce;
                display: block;
                margin: 0 auto;
                padding: 50px 20px;
                width: 100%;
            }
                .tsc-section .it-works .number-icon svg
                {
                    height: 80px;
                    width: 80px;
                }
            .tsc-section .it-works h3
            {
                text-align: center;
                color: #ed616c;
                font-weight: normal;
                font-size:2em;
            }
            .tsc-section .it-works p
            {
                font-size: 1.25em;
                padding: 0 25px;
            }
/* END .tsc-section */

/* BEGIN checkout */
    .ui.message .list:not(.ui) li::before
    {
        content: ''
    }
    .waiting
    {
        display:none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999999;
        width: 100%;
        height: 200%;
        padding: 200px 0;
        background: rgba(0,0,0,0.9);  
    }
    .waiting .ui.loader
    {
        display: none;
    }
    .processing .waiting,
    .incoming .waiting
    {
        display:block;  
    }
/* END checkout */

/* BEGIN .footer */
    .home-footer
    {
        width: 100%;
        background: #3bccce;
        color: #ffffff;
        border-top: 10px solid #2BA9AB;
    }
    .home-footer .ui.grid
    {
        max-width: 800px;
        margin: 0 auto;
    }
    .home-footer ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        .home-footer ul li
        {
            padding: 10px 5px;
            font-size: 1.25em;
            font-weight: bold;
        }
            .home-footer ul li a
            {
                color: #ffffff;
            }
/* END .footer */

@media (min-width: 768px) {
  .header .logo
  {
    float: left;
    color: #ffffff;
    max-width: 250px;
  }
  .header .logo img
  {
    max-width: 100%;
  }
  .header nav
  {
    float: left;
    margin-left: 50px;
  }
  .header ul li
  {
      display: inline-block;
  }

  .service p.short
  {
    padding: 55px;
    max-width: 60%;
    margin: 0 auto;
    font-size: 3em;
  }
}
