<footer class="home-footer" id="home-footer">
    <div class="ui three column stackable grid">
        <div class="column">
            <ul class="nav navbar-nav">
                <li><a href="<%= baseUrl %>/services">Services</a></li>
                <li><a href="<%= baseUrl %>/support">Support</a></li>
                <li><a href="<%= baseUrl %>/plans">Plans</a></li>
                <li><a href="<%= baseUrl %>/blog">Blog</a></li>
            </ul>
        </div>
        <div class="column">
            <ul class="nav navbar-nav">
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="column">
            <ul class="nav navbar-nav">
                <li>&copy; 2016 The Site Clinic</li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript" src="<%= baseUrl %>/static/f.js"></script>