<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>The Site Clinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:url" content="<%= baseUrl %>">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="The Site Clinic">
    <meta property="og:title" content="The Site Clinic">
    <meta property="og:description" content="Reliable website support, repair, and maintenance">
    <meta property="og:image" content="<%= baseUrl %>/assets/img/thesiteclinic_large.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thesiteclinic">
    <meta name="twitter:creator" content="@thesiteclinic">
    <meta name="twitter:title" content="The Site Clinic">
    <meta name="twitter:domain" content="The Site Clinic">
    <meta name="twitter:description" content="Reliable website support, repair, and maintenance">
    <meta name="twitter:image" content="<%= baseUrl %>/assets/img/thesiteclinic_large.png">
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/static/css/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="<%= baseUrl %>/static/Pe-icon-7-stroke.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/static/css/site.css">
</head>
<body>

<script>
<% if( baseUrl == 'https://thesiteclinic.com') { %>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-76336424-1', 'auto');
  ga('send', 'pageview');
<% } %>
var tsc = {base:'<%= baseUrl %>'}
</script>
<div class="header" id="header">
    <div class="ui menu">
        <a class="item primary-logo" href="<%= baseUrl %>">
            <h1>The Site Clinic</h1>
        </a>
        <a class="active item" href="<%= baseUrl %>">
            Home
        </a>
        <a class="item" href="<%= baseUrl %>/services">
            Services
        </a>
        <a class="item" href="<%= baseUrl %>/blog">
            Blog
        </a>
        <a class="item" href="<%= baseUrl %>/contact">
            Contact
        </a>
        <div class="right menu">
            <a class="ui item login" href="<%= baseUrl %>/login">
                Login
            </a>
        </div>
    </div>
</div>
