
                    <label for="q1">What's wrong?</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="text" name="q1" id="a1" ng-model="q[1]" ng-keyup="showNext(1)">
                        <span class="next-question">
                            <a href="/start/2">>></a>
                        </span>
                        <!-- <span class="next-question" ng-show="nextqs"> -->
                    </div>
