
                    <label for="q2">How critical is this issue?</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <a class="q-btn" href="/start/plan/i">Important - $79</a>
                        <a class="q-btn" href="/start/plan/u">Urgent - $109</a>
                        <a class="q-btn" href="/start/plan/e">Emergency- $299</a>
                    </div>