
                    <label for="q2">Pick a plan</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <a class="q-btn" href="/start/plan/3">3 Issues - $79</a>
                        <a class="q-btn" href="/start/plan/5">5 Issues - $109</a>
                        <a class="q-btn" href="/start/plan/7">7 Issues - $139</a>
                    </div>