
                    <div class="answer-wrap">
                        <span class="error" ng-show="{{error}}">{{error.msg ? error.msg : ''}}</span>
                        <label for="ofname">First Name</label>
                        <input type="text" value="{{onboard.firstName ? onboard.firstName : ''}}" required name="ofname" id="fname" ng-model="onboard.firstName" ng-keyup="showNext()">

                      <label for="olname">Last Name</label>
                        <input type="text" value="{{onboard.lastName ? onboard.lastName : ''}}" required name="olname" id="lname" ng-model="onboard.lastName" ng-keyup="showNext()">
                        
                        <label for="oemail">Email Address</label>
                        <input type="email" value="{{onboard.em ? onboard.em : ''}}" required name="oemail" id="em" ng-model="em" ng-keyup="showNext()">

                        <div class="continue" ng-show="onboardFormIsValid()">
                            <a href="#" ng-click="processStripe()" id="pending"></a>
                            <button id="purchaseButton" class="btn btn-success purchaseButton" ng-click="processStripe()">Purchase {{onboard.plan.niceName}} Care Plan</button>
                        </div>
                    </div>