
                    <div class="answer-wrap">
                        <span class="plan-pay">
                            {{plan.name}} plan &mdash; ${{plan.price}}
                        </span>
                        <span class="features">
                            <ul>
                                <li ng-repeat="feature in plan.features">{{ feature }}</li>
                            </ul>
                        </span>
<!--                         <form action="/sckout" method="POST">
                          <input type="hidden" name="price" value="{{plan.price}}">
                          <input type="hidden" name="planName" value="{{plan.name}}">
                          <input type="hidden" name="planId" value="{{plan.splan}}">
                          <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_SnKHGG2vwSUrId9fptCfxHlN"
                            data-amount="{{plan.sprice}}"
                            data-name="{{plan.niceName}} CARE PLAN"
                            data-description=""
                            data-email="{{onboard.em}}"
                            data-image=""
                            data-locale="auto">
                          </script>
                        </form>
 -->                        <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="{{plan.pp}}">
                        <input type="submit" class="q-btn turquoise-btn" name="submit" value="Pay With PayPal" alt="PayPal - The safer, easier way to pay online!">
                        </form> -->

                    </div>