
                    <div class="answer-wrap">
                        <span class="pay-processing">
                            <img src="/assets/img/pending.gif">
                        </span>
                    </div>