
                <div ng-show="curr==1" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q1">What's wrong?</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="text" name="q1" id="a1" ng-model="q[1]" ng-keyup="showNext(1)">
                        <span class="next-question">
                            <a href="#" ng-click="goToStep(2)">>></a>
                        </span>
                        <!-- <span class="next-question" ng-show="nextqs"> -->
                    </div>
                </div>
                <div ng-show="curr==2" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q2">Is it just this one issue?</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <a class="q-btn" ng-click="goToStep('2a1')">Just this one</a>
                        <a class="q-btn" ng-click="goToStep('2b1')">I have a few</a>
                    </div>
                </div>
                <div ng-show="curr==3" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q3">Okay, where is the rush?</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="text" name="q3" id="a3" ng-model="q[3]" ng-keyup="showNext(3)">
                        <span class="next-question">
                            <a href="#" ng-click="goToStep(4)">>></a>
                        </span>
                    </div>
                </div>
                <div ng-show="curr==4" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q4">Here's another question</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="text" name="q4" id="a4" ng-model="q[4]" ng-keyup="showNext(4)">
                        <span class="next-question">
                            <a href="#" ng-click="goToStep(5)">>></a>
                        </span>
                    </div>
                </div>
                <div ng-show="curr==5" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q5">Nothing else to see here!</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="text" name="q5" id="a5" ng-model="q[5]" ng-keyup="showFinish()">
                        <span class="next-question">
                            <a href="#" ng-click="goToStep(2)">Select a Plan >></a>
                        </span>
                    </div>
                </div>

                <div ng-show="curr=='2a1'" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q2a1">Nothing else to see here!</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <a class="q-btn" ng-click="goToStep('2a1a')">3 issues</a>
                        <a class="q-btn" ng-click="goToStep('2a1b')">5 issues</a>
                        <a class="q-btn" ng-click="goToStep('2a1c')">10 issues</a>
                    </div>
                </div>

                <div ng-show="curr=='2b1'" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                    <label for="q2b1">Select a plan</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="text" name="q2b1" id="a2b1" ng-model="q['2b1']" ng-keyup="showFinish()">
                        <span class="next-question">
                            <a href="#" ng-click="goToStep('2b2')">Select a Plan >></a>
                        </span>
                    </div>
                </div>