
                    <label for="oemail">Your email</label>
                    <div class="answer-wrap" ng-class="{'answered':nextq}">
                        <input type="email" required name="oemail" id="a1" ng-model="q[1]" ng-keyup="showNext(1)">
                        <span class="next-question">
                            <a href="/start/pay">>></a>
                        </span>
                        <!-- <span class="next-question" ng-show="nextqs"> -->
                    </div>