<%- include('../views/partials/new/header') %>
<div class="pageWrap checkout">
    <style type="text/css">
        .checkout
        {
            text-align: center;
            color: #0A6566;
        }
        .checkout h3
        {
            font-size: 3em;
        }
        .checkout p
        {
            font-size: 2em;
            line-height: 1.5;
        }
    </style>
    <div class="page-header">
      <h1>Payment Complete</h1>
    </div>
    <div class="ui stackable grid">
       <% if ( payment ) { %>
        <div class="completed-payment sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">
                <p>We've sent a welcome packet to <strong><%= payment.email_address %></strong><br>with details about next steps.</p>
                <p>We look forward to working with you!</p>
            </div>
        </div><!--/completed-packages -->
        <% } %>
    </div><!--/grid-->
</div><!--/pageWrap-->

<%- include('../views/partials/new/footer') %>
<script type="text/javascript">
    $(function () {
        var img = '<%= baseUrl %>/static/tsc-women.jpg';
        $('body').backstretch(img)
    })
</script>
</body>
</html>
