<%- include('../views/partials/new/header') %>

<div class="pageWrap checkout">
    <div class="page-header">
      <h1>Payment Error</h1>
      <h2>woops!</h2>
    </div>
    <div class="ui stackable grid">
        <div class="completed-payment sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">
                <h3>Looks like we did something wrong. Please try again.</h3>
            </div>
        </div><!--/completed-packages -->
    </div><!--/grid-->
</div><!--/pageWrap-->

<%- include('../views/partials/new/footer') %>
<script type="text/javascript">
    $(function () {
        var img = '<%= baseUrl %>/static/tsc-women.jpg';
        $('body').backstretch(img)
    })
</script>
</body>
</html>
