                </div>
            </div>
        </div>

    </div>
</div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">The Site Clinic</a>
                </p>
            </div>
        </footer>

    </div>
</div>



    <!--   Core JS Files   -->
    <script src="<%= baseUrl %>/assets/js/lib/jquery.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/lib/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="<%= baseUrl %>/assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Charts Plugin -->
    <script src="<%= baseUrl %>/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="<%= baseUrl %>/assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="<%= baseUrl %>/assets/js/light-bootstrap-dashboard.js"></script>

    <script src="<%= baseUrl %>/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/lib/angular-cookies.js"></script>
    <script src="<%= baseUrl %>/assets/js/lib/angular-ui-router.js"></script>
    <script src="<%= baseUrl %>/assets/js/lib/jquery.backstretch.min.js"></script>
    <script src="<%= baseUrl %>/assets/js/tsc.js"></script>
</body>


</html>