<%- include('../partials/header') %>

<div ng-app="tscApp" ng-class="bodyClass">

    <div id="page">
        <div class="single">
            <%= page %>
        </div>
    </div><!-- #page -->

</div>
<%- include('../partials/footer') %>