<div id="step1" class="step step-01">
    <label for="step-01">Please provide a summary of your problem below.</label>
    <textarea name="step-01" id="summary" ng-keyup="nextStep(01)">{{onboard.summary}}</textarea>
    <button class="btn btn-success next" ng-click="goTo(2)" ng-show="nextSteps.one">Next</button>
    <span class="backstep" ng-show="currentStep > 1" ng-click="backStep(1)">&#8666; Back</span>
</div>