<div id="step2" class="step step-02">
    <span type="radio"><input ng-click="nextStep(2,1)" ng-checked="onboard.critical == 1" type="radio" name="step2" value="01"> Imporant <small>This needs to be done soon, but there is no rush.</small></span>
    <span type="radio"><input ng-click="nextStep(2,2)" ng-checked="onboard.critical == 2" type="radio" name="step2" value="02"> Urgent <small>This needs to be addressed within 24-48 hours.</small></span>
    <span type="radio"><input ng-click="nextStep(2,3)" ng-checked="onboard.critical == 3" type="radio" name="step2" value="03"> Emergency <small>This needs to be addressed within 24 hours.</small></span>
    <button class="btn btn-success next" ng-click="goTo(3)" ng-show="nextSteps.two">Next</button>
    <span class="backstep" ng-show="currentStep > 1" ng-click="backStep(1)">&#8666; Back</span>
</div>