<div id="step3" class="step step-03">
                    <div class="answer-wrap">
                        <span class="error" ng-show="{{error}}">{{error.msg ? error.msg : ''}}</span>
                        <label for="ofname">First Name</label>
                        <input type="text" value="{{onboard.firstName ? onboard.firstName : ''}}" required name="ofname" id="fname" ng-model="onboard.firstName" ng-keyup="showNext()">

                      <label for="olname">Last Name</label>
                        <input type="text" value="{{onboard.lastName ? onboard.lastName : ''}}" required name="olname" id="lname" ng-model="onboard.lastName" ng-keyup="showNext()">
                        
                        <label for="oemail">Email Address</label>
                        <input type="email" value="{{onboard.em ? onboard.em : ''}}" required name="oemail" id="em" ng-model="em" ng-keyup="showNext()">
                        <div class="signuperrors error1">
                            This email already exists. Please <a href="http://tsc.dev:3030/login">login</a> to your dashboard and file your ticket there.
                        </div>

                        <button class="btn btn-success next" ng-click="goTo(4)" ng-show="onboardFormIsValid()">Next</button>
                        <span class="backstep" ng-show="currentStep > 1" ng-click="backStep(2)">Back</span>
                    </div>
</div>