
                        <div class="plans">
                            <div ng-repeat="p in plans" class="plan" id="{{ p.name }}" ng-class="{'inactive': plan.name!==p.name, 'turquoise-btn selected': plan.name== p.name}" ng-click="capturePlan(p.name)">
                                <h3 class="plan-name">
                                    {{p.niceName}}
                                </h3>
                                <span class="plan-price">
                                    ${{p.price}}/{{p.frequency}}
                                </span>
                                <span class="plan-features">
                                    <ul>
                                        <li ng-repeat="feature in p.features">{{ feature }}</li>
                                        <li class="details">
                                          <a href="#" data-toggle="modal" data-target="#{{plan.name}}Modal">View Details</a>
                                        </li>
                                    </ul>
                                </span>
                            </div><!-- .plan-->

                            <div class="continue" ng-show="continue">
                                <a href="/start/5" class="btn sunset-btn" ng-click="processStripe()">Purchase Selected Plan</a>
                            </div>

                            <a href="#" class="compare" data-toggle="modal" data-target="#compare">
                              Compare Plans
                            </a>
                        </div><!-- .plans -->
