body
{
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
}

#header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    padding: 6px 0;
    background: transparent;
    box-shadow: 0 1px 2px rgba(29,36,42,.1);
    line-height: 45px;
    .logo 
    {
        line-height: 1;
        padding: 5px 0;
        a
        {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .05em;
            font-size: 14px;
            display: inline-block;
            text-indent: -999px;
            width: 250px;
            height: 42px;
            background-size: 250px;
            background-repeat: no-repeat;
            background-image: url(../img/thesitecliniclogoverticalwhite.png);
        }
    }
    &.scrolled
    {
        background: #ffffff;
        -webkit-transition: all 200ms ease-out 200ms;
        transition: all 200ms ease-out 200ms;
        .logo a
        {
            color: #38CCCE;
            background-image: url(../img/thesitecliniclogoverticalturquoise.png);
        }
        .header-wrap
        {
            .mobile-btn
            {
                color: #38CCCE;
                &:hover
                {
                    cursor: pointer;
                    text-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
                }
            }
        }
    }
    .nav
    {
        &.guard
        {
            float: right;
        }
        li
        {
            margin: 0 10px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: .1em;
            text-transform: uppercase;
            a
            {
                color: #3B6768;
                margin: 0;
                padding-left: 5px;
                padding-right: 5px;
                &:hover
                {
                    background: transparent;
                    text-shadow: 4px 4px 6px rgba(255, 255, 255, 1);
                }
            }
        }
    }
    .header-wrap
    {
        position: relative;
        width: 95%;
        margin: 0 auto;
        .mobile-btn
        {
            position: absolute;
            top: 0px;
            right: 20px;
            color: #ffffff;
            &:hover
            {
                cursor: pointer;
                text-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
            }
        }
        .mobile-header
        {
            position: absolute;
            right: 0;
            width: 40vw;
            max-height: 0;
            background: #ffffff;
            box-shadow: 6px 3px 13px 3px rgba(29,36,42,.1);
            // display: none;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            &.reveal
            {
                max-height: 200px;
                transition-property: all;
                transition-duration: .5s;
                transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
                nav
                {
                    display: block;
                }
            }
            nav
            {
                display: none;
                padding: 20px;
                color: #ffffff;
                a
                {}
            }
        }
    }
}

.single #header
{
    background: #ffffff;
    .container
    {
        color: #38CCCE;
        .logo a
        {
            color: #38CCCE;
            background-image: url(../img/thesitecliniclogoverticalturquoise.png);
        }
        .nav
        {
            color: #38CCCE;
            a
            {
                color: #38CCCE;
            }
        }
    }
}

.single
{
    padding-top: 50px;
    .single-post
    {
        padding-top: 50px;
        .container
        {
            background: #fefefe;
            max-width: 1000px;
            .post
            {
                padding-bottom: 80px;
                .post-title
                {
                    font-size: 40px;
                }
                p
                {
                    margin-bottom: 20px;
                    line-height: 1.6em;
                    font-size: 1.4em;
                }
            }
            .sidebar-wrap
            {
                margin-top: 40px;
            }
        }
    }
}

#footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    background: #ffffff;
    border-top: 1px solid #6AB4B0;
    .action
    {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: bold;
    }
}

#page
{
    //margin-top: 60px;
    position: relative;
    min-height: 90vh;
    &.login
    {
        background: #f9f5ef;
        .login-wrapper
        {
            border: 1px solid #FCEDD6;
            background: #ffffff;
            padding: 30px;
            h2
            {
                text-align: center;
                color: #38CCCE;
            }
            .error
            {
                font-style: italic;
                text-align: center;
                color: #ED555B;
            }
            form
            {
                width: 80%;
                margin: 0 auto;
                label
                {
                    text-align: center;
                    width: 100%;
                    color: #2A999B;
                }
            }
            .form-group
            {
                margin: 35px 0;
            }
        }
    }
}

.coral
{
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f18664+0,ed616c+100 */
    background: #f18664;
    background: -moz-linear-gradient(top,  #f18664 0%, #ed616c 100%);
    background: -webkit-linear-gradient(top,  #f18664 0%,#ed616c 100%);
    background: linear-gradient(to bottom,  #f18664 0%,#ed616c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18664', endColorstr='#ed616c',GradientType=0 );
    &:hover
    {
       box-shadow: 0px 2px 40px #ed616c;
    }
    &:active, &:focus
    {
        color: #ffffff;
        background: #f18664;
        background: -moz-linear-gradient(top,  #f18664 0%, #ed616c 100%);
        background: -webkit-linear-gradient(top,  #f18664 0%,#ed616c 100%);
        background: linear-gradient(to bottom,  #f18664 0%,#ed616c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18664', endColorstr='#ed616c',GradientType=0 );
    }
     &:active
     {
        background: #ed616c;
        background: -moz-linear-gradient(top,  #ed616c 0%, #f18664 100%);
        background: -webkit-linear-gradient(top,  #ed616c 0%,#f18664 100%);
        background: linear-gradient(to bottom,  #ed616c 0%,#f18664 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed616c', endColorstr='#f18664',GradientType=0 );

     }
}
.tsc-cta
{
    padding: 15px 50px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .06em;
    a
    {
        color: #ffffff;
        &:hover
        {
            color: #ffffff;
        }
    }
    &.btn:hover
    {
        color: #ffffff;
        text-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
    }
}

.button
{
    border: 0;
    -webkit-transition: all 100ms ease-out 200ms;
    transition: all 100ms ease-out 200ms;
}



.home-footer
{
    background: #38CCCE;
    background: #278D8E;
    color: #ffffff;
    box-shadow: 10px 0px 2px rgba(29,36,42,.1);
    padding: 15px 0;
    nav
    {
        ul
        {
            li
            {
                margin: 0 7px;
                padding: 5px;
                a
                {
                    margin: 0;
                    padding: 0;
                    color: #ffffff;
                    &:hover
                    {
                        color: #278D8E;
                        background: #ffffff;
                        text-decoration: none;
                    }
                }
                &:hover
                {
                    background: #ffffff;
                    color: #278D8E;
                }
            }
        }
    }
}

@media (min-width: 768px)
{
#header
{
    .container
    {
        width: 100%;
        .nav
        {
            a
            {
                color: #fff;
            }
        }
    }
    &.scrolled
    {
        background: #ffffff;
        .header-wrap
        {
            .container
            {
                .nav
                {
                    li
                    {
                        a
                        {
                            color: #38CCCE;
                            &:hover
                            {
                                color: #2A999B;
                            }
                        }
                        &.signup
                        {
                            color: #F08267;
                            a
                            {
                                color: #F08267;
                                &:hover
                                {
                                    color: #ED555B;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-wrap
    {
        .mobile-btn
        {
            display: none;
        }
        .mobile-header
        {
            display: none;
        }
    }
}
#footer
{
    display: none
}

}
@media (min-width: 992px)
{



}
@media (min-width: 1200px)
{
#header
{
    .container
    {
        width: 95%;
        margin: 0 auto;
    }
}

}