.cta {
  text-align: center;
  color: #ffffff;
  padding: 100px 0;
  min-height: 80vh;
  position: relative; }
  .cta h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4em; }
  .cta h3 {
    margin-bottom: 35px;
    font-size: 16px; }
  .cta .learn-more {
    position: absolute;
    width: 100%;
    bottom: 20px;
    font-weight: bold; }

.how-it-works {
  padding: 80px 0 40px 0;
  color: #93A7A5;
  text-align: center; }
  .how-it-works h3 {
    text-align: center;
    font-weight: bold;
    color: #ed616c; }
  .how-it-works .works-cta {
    margin: 50px auto;
    text-align: center; }
  .how-it-works .number-icon {
    fill: #38CCCE;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto; }
    .how-it-works .number-icon svg {
      width: 64px;
      height: 64px; }
  .how-it-works h3 {
    margin: 25px 0;
    padding: 0;
    font-weight: normal;
    color: #113C38; }
  .how-it-works p {
    padding: 0 10px; }

.learn-more {
  text-transform: uppercase;
  font-weight: bold; }
  .learn-more .animated {
    font-size: 30px; }

@media (min-width: 768px) {
  .cta {
    min-height: 50vh; } }

@media (min-width: 800px) {
  .cta {
    min-height: 60vh; } }
