body.screen-onboarding {
  background: #EDEFF0; }

.page-start {
  padding-top: 40px;
  min-height: 100vh; }
  .page-start h1.page-title {
    text-align: center; }
  .page-start .planChooser {
    background: #FFFDF5;
    background: #FFFFFF;
    margin: 30px auto;
    padding-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #EFEBE5;
    border-top: 3px solid #38CCCE;
    border-bottom: 3px solid #38CCCE;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    font-family: "Montserrat", sans-serif; }
    .page-start .planChooser header {
      border-bottom: 1px solid #f7f3ed;
      padding: 20px;
      color: #407070; }
      .page-start .planChooser header h2 {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-transform: uppercase; }
      .page-start .planChooser header .price {
        display: block; }
      .page-start .planChooser header .fine-print {
        font-size: 12px;
        color: #C4C2BC;
        text-align: center;
        display: block;
        width: 100%; }
    .page-start .planChooser a.compare {
      color: #FF6841;
      margin-top: 10px;
      font-size: 12px;
      display: inline-block;
      width: 100%;
      text-align: center; }
    .page-start .planChooser .onboard .step {
      width: 85%;
      margin: 20px auto; }
      .page-start .planChooser .onboard .step textarea {
        width: 100%;
        min-height: 125px;
        padding: 5px; }
      .page-start .planChooser .onboard .step span[type="radio"] {
        background: #00A1A3;
        color: #ffffff;
        display: block;
        margin: 10px auto;
        padding: 10px;
        width: 70%; }
        .page-start .planChooser .onboard .step span[type="radio"]:hover {
          background: #3bccce; }
        .page-start .planChooser .onboard .step span[type="radio"] small {
          font-size: .8em;
          font-style: italic;
          display: block; }
      .page-start .planChooser .onboard .step .next {
        margin-top: 20px; }
    .page-start .planChooser .onboard .backstep {
      display: block;
      width: 100%;
      margin: 15px auto;
      font-size: .8em;
      text-align: center;
      color: #3bccce; }
      .page-start .planChooser .onboard .backstep:hover {
        cursor: pointer;
        color: #278D8E; }
    .page-start .planChooser .onboard.complete p {
      font-size: 20px;
      line-height: 1.5em;
      color: #278D8E;
      text-align: center;
      padding-top: 30px; }
      .page-start .planChooser .onboard.complete p strong {
        color: #F08267;
        display: block; }
  .page-start .questions {
    margin-top: 30px; }
    .page-start .questions label {
      display: block;
      color: #3BD6C6;
      font-size: 1.2em;
      font-weight: normal; }
    .page-start .questions .answer-wrap {
      position: relative;
      width: 100%;
      max-width: 350px;
      margin: 0 auto; }
      .page-start .questions .answer-wrap .signuperrors {
        color: #DA818B;
        display: none; }
      .page-start .questions .answer-wrap .error {
        display: block;
        width: 100%;
        text-align: center;
        color: #F08267; }
      .page-start .questions .answer-wrap .purchaseButton {
        text-transform: uppercase;
        margin-top: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        background: #3bccce;
        border: 0; }
        .page-start .questions .answer-wrap .purchaseButton:hover {
          background: #278D8E; }
      .page-start .questions .answer-wrap .plan-pay {
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        margin: 10px auto; }
      .page-start .questions .answer-wrap .features ul {
        list-style: none;
        padding: 0;
        margin: 10px 0; }
      .page-start .questions .answer-wrap .pay-processing {
        display: block;
        width: 100%;
        text-align: center; }
      .page-start .questions .answer-wrap .q-btn {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 50px;
        padding: 10px;
        margin: 0 auto 40px 0;
        border: 1px solid #34BCAE;
        background: #3BD6C6;
        color: #ffffff;
        text-align: center;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em; }
        .page-start .questions .answer-wrap .q-btn:hover {
          background: #34BCAE;
          cursor: pointer; }
          .page-start .questions .answer-wrap .q-btn:hover a:hover {
            text-decoration: none; }
        .page-start .questions .answer-wrap .q-btn a {
          color: #ffffff;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          height: 100%; }
          .page-start .questions .answer-wrap .q-btn a:hover {
            text-decoration: none; }
      .page-start .questions .answer-wrap input {
        height: 50px;
        padding: 0;
        margin: 0px auto 30px auto;
        width: 100%;
        padding: 10px;
        border: 1px solid #34BCAE; }
      .page-start .questions .answer-wrap .next-question {
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        width: 20%;
        height: 50px;
        margin: 0 auto;
        padding: 10px;
        background: #dedede;
        border: 1px solid #34BCAE;
        border-left: 0;
        color: #FF5E61;
        font-weight: bold; }
  .page-start .btn {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto; }
  .page-start .coral-btn {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed636b+0,e04143+100 */
    background: #ed636b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ed636b 0%, #e04143 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ed636b 0%, #e04143 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ed636b 0%, #e04143 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed636b', endColorstr='#e04143',GradientType=0 );
    /* IE6-9 */ }
  .page-start .sunset-btn {
    color: #ffffff;
    background: #FF944C;
    /* Old browsers */
    background: -moz-linear-gradient(top, #FF944C 0%, #FF6600 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FF944C 0%, #FF6600 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FF944C 0%, #FF6600 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF944C', endColorstr='#FF6600',GradientType=0 );
    /* IE6-9 */ }
    .page-start .sunset-btn:hover {
      background: #FF6600;
      /* Old browsers */
      background: -moz-linear-gradient(top, #FF6600 0%, #CC5200 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #FF6600 0%, #CC5200 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #FF6600 0%, #CC5200 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6600', endColorstr='#CC5200',GradientType=0 );
      /* IE6-9 */ }
  .page-start .green-btn {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed636b+0,e04143+100 */
    background: #43CD80;
    /* Old browsers */
    background: -moz-linear-gradient(top, #43CD80 0%, #449363 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #43CD80 0%, #449363 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #43CD80 0%, #449363 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43CD80', endColorstr='#449363',GradientType=0 );
    /* IE6-9 */ }

.plans {
  padding: 10px 20px 20px 20px; }
  .plans .plan {
    width: 100%;
    max-width: 350px;
    margin: 25px auto;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    text-align: center;
    transition: 300ms ease all 50ms;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f9fc+0,d2eff2+100 */
    background: #fefefe;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #ededed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefefe 0%, #ededed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefefe 0%, #ededed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 );
    /* IE6-9 */
    color: #38ccce;
    border: 1px solid #dedede; }
    .plans .plan:hover {
      cursor: pointer;
      color: #38ccce;
      text-shadow: 0px 0px 2px rgba(56, 204, 206, 0.2); }
    .plans .plan h3 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .05em; }
    .plans .plan span {
      display: block; }
    .plans .plan .plan-features {
      display: none; }
      .plans .plan .plan-features ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0; }
        .plans .plan .plan-features ul .details {
          color: #113C38;
          text-transform: uppercase;
          margin-top: 10px;
          font-weight: bold;
          font-size: 10px; }
          .plans .plan .plan-features ul .details a {
            color: #38ccce;
            background: #E9F0F6;
            padding: 5px;
            display: inline-block;
            border-radius: 3px;
            transition: 300ms ease all 50ms; }
            .plans .plan .plan-features ul .details a:hover {
              color: #113C38;
              background: #ffffff;
              text-decoration: none; }

.table > tbody > tr > td {
  vertical-align: middle; }

.comparison {
  color: #FF6841; }
  .comparison td {
    vertical-align: middle; }
  .comparison td.service-name {
    background: #E8F4F4;
    border-bottom: #ffffff;
    color: #29999B;
    font-weight: bold; }
  .comparison td.header-row, .comparison thead {
    color: #154D4E;
    text-align: center;
    font-weight: bold; }

.modal-title {
  text-align: center;
  color: #29999B; }

.lightbrown-btn {
  border: 1px solid #E5E3DC;
  color: #FF9787;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f3ed+0,eae7de+100 */
  background: #f7f3ed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f3ed 0%, #eae7de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f3ed 0%, #eae7de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f3ed 0%, #eae7de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f3ed', endColorstr='#eae7de',GradientType=0 );
  /* IE6-9 */ }

.light-btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f9fc+0,d2eff2+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #ededed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #ededed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 );
  /* IE6-9 */
  color: #C1DDDD;
  border: 1px solid #dedede; }
  .light-btn:hover {
    cursor: pointer;
    color: #38ccce;
    text-shadow: 0px 0px 2px rgba(56, 204, 206, 0.2); }

.plans .plan.turquoise-btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ad5d6+0,38ccce+100 */
  background: #7ad5d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #38ccce 0%, #00A1A3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #38ccce 0%, #00A1A3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #38ccce 0%, #00A1A3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ccce', endColorstr='#00A1A3',GradientType=0 );
  /* IE6-9 */
  border: 0;
  color: #ffffff; }
  .plans .plan.turquoise-btn:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
    cursor: pointer; }
  .plans .plan.turquoise-btn.selected {
    -webkit-box-shadow: 0px 0px 10px 0px #70d5d6;
    -moz-box-shadow: 0px 0px 10px 0px #70d5d6;
    box-shadow: 0px 0px 10px 0px #70d5d6; }

.onboard-nav {
  width: 100%;
  max-width: 300px;
  margin: 30px auto 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #C4C2BC; }
  .onboard-nav a {
    color: #C4C2BC;
    text-decoration: none; }
    .onboard-nav a:hover {
      color: #407070; }

@media (min-width: 768px) {
  .page-start .questions {
    margin-top: 60px; } }
