body {
  background: #FFFCF4; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #6AB4B0;
  border-bottom: 3px solid #4C817E;
  color: #ffffff;
  text-align: center;
  line-height: 45px; }
  #header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .08em;
    font-size: 18px; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 40px;
  overflow: hidden;
  background: #ffffff;
  border-top: 1px solid #6AB4B0; }
  #footer .action {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold; }

#page {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-bottom: 40px;
  height: calc(100vh - 40px);
  position: relative; }
  #page .cta {
    text-align: center;
    color: #ffffff;
    padding: 85px 0;
    height: 70vh;
    background-image: url("../../assets/img/tsc-women.jpg");
    background-position: -250px center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    #page .cta h2 {
      font-size: 30px;
      font-weight: bold; }
    #page .cta h3 {
      margin-bottom: 35px;
      font-size: 16px; }
    #page .cta .learn-more {
      position: absolute;
      width: 100%;
      bottom: 20px;
      font-weight: bold; }

.how-it-works {
  padding: 40px 0; }
  .how-it-works h3 {
    text-align: center;
    font-weight: bold;
    color: #ed616c; }
  .how-it-works .works-cta {
    margin: 50px auto;
    text-align: center; }

.coral {
  color: #ffffff;
  background: #ed616c;
  background: -webkit-linear-gradient(45deg, #ed616c 0%, #f18664 100%);
  background: linear-gradient(45deg, #ed616c 0%, #f18664 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed616c', endColorstr='#f18664',GradientType=1 ); }

.tsc-cta {
  padding: 15px 50px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .06em; }

.button {
  border: 0;
  -webkit-transition: all 100ms ease-out 200ms;
  transition: all 100ms ease-out 200ms; }
