body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  padding: 6px 0;
  background: transparent;
  box-shadow: 0 1px 2px rgba(29, 36, 42, 0.1);
  line-height: 45px; }
  #header .logo {
    line-height: 1;
    padding: 5px 0; }
    #header .logo a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .05em;
      font-size: 14px;
      display: inline-block;
      text-indent: -999px;
      width: 250px;
      height: 42px;
      background-size: 250px;
      background-repeat: no-repeat;
      background-image: url(../img/thesitecliniclogoverticalwhite.png); }
  #header.scrolled {
    background: #ffffff;
    -webkit-transition: all 200ms ease-out 200ms;
    transition: all 200ms ease-out 200ms; }
    #header.scrolled .logo a {
      color: #38CCCE;
      background-image: url(../img/thesitecliniclogoverticalturquoise.png); }
    #header.scrolled .header-wrap .mobile-btn {
      color: #38CCCE; }
      #header.scrolled .header-wrap .mobile-btn:hover {
        cursor: pointer;
        text-shadow: 0px 0px 40px white; }
  #header .nav.guard {
    float: right; }
  #header .nav li {
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase; }
    #header .nav li a {
      color: #3B6768;
      margin: 0;
      padding-left: 5px;
      padding-right: 5px; }
      #header .nav li a:hover {
        background: transparent;
        text-shadow: 4px 4px 6px white; }
  #header .header-wrap {
    position: relative;
    width: 95%;
    margin: 0 auto; }
    #header .header-wrap .mobile-btn {
      position: absolute;
      top: 0px;
      right: 20px;
      color: #ffffff; }
      #header .header-wrap .mobile-btn:hover {
        cursor: pointer;
        text-shadow: 0px 0px 40px white; }
    #header .header-wrap .mobile-header {
      position: absolute;
      right: 0;
      width: 40vw;
      max-height: 0;
      background: #ffffff;
      box-shadow: 6px 3px 13px 3px rgba(29, 36, 42, 0.1);
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
      #header .header-wrap .mobile-header.reveal {
        max-height: 200px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
        #header .header-wrap .mobile-header.reveal nav {
          display: block; }
      #header .header-wrap .mobile-header nav {
        display: none;
        padding: 20px;
        color: #ffffff; }

.single #header {
  background: #ffffff; }
  .single #header .container {
    color: #38CCCE; }
    .single #header .container .logo a {
      color: #38CCCE;
      background-image: url(../img/thesitecliniclogoverticalturquoise.png); }
    .single #header .container .nav {
      color: #38CCCE; }
      .single #header .container .nav a {
        color: #38CCCE; }

.single {
  padding-top: 50px; }
  .single .single-post {
    padding-top: 50px; }
    .single .single-post .container {
      background: #fefefe;
      max-width: 1000px; }
      .single .single-post .container .post {
        padding-bottom: 80px; }
        .single .single-post .container .post .post-title {
          font-size: 40px; }
        .single .single-post .container .post p {
          margin-bottom: 20px;
          line-height: 1.6em;
          font-size: 1.4em; }
      .single .single-post .container .sidebar-wrap {
        margin-top: 40px; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 40px;
  overflow: hidden;
  background: #ffffff;
  border-top: 1px solid #6AB4B0; }
  #footer .action {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold; }

#page {
  position: relative;
  min-height: 90vh; }
  #page.login {
    background: #f9f5ef; }
    #page.login .login-wrapper {
      border: 1px solid #FCEDD6;
      background: #ffffff;
      padding: 30px; }
      #page.login .login-wrapper h2 {
        text-align: center;
        color: #38CCCE; }
      #page.login .login-wrapper .error {
        font-style: italic;
        text-align: center;
        color: #ED555B; }
      #page.login .login-wrapper form {
        width: 80%;
        margin: 0 auto; }
        #page.login .login-wrapper form label {
          text-align: center;
          width: 100%;
          color: #2A999B; }
      #page.login .login-wrapper .form-group {
        margin: 35px 0; }

.coral {
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f18664+0,ed616c+100 */
  background: #f18664;
  background: -moz-linear-gradient(top, #f18664 0%, #ed616c 100%);
  background: -webkit-linear-gradient(top, #f18664 0%, #ed616c 100%);
  background: linear-gradient(to bottom, #f18664 0%, #ed616c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18664', endColorstr='#ed616c',GradientType=0 ); }
  .coral:hover {
    box-shadow: 0px 2px 40px #ed616c; }
  .coral:active, .coral:focus {
    color: #ffffff;
    background: #f18664;
    background: -moz-linear-gradient(top, #f18664 0%, #ed616c 100%);
    background: -webkit-linear-gradient(top, #f18664 0%, #ed616c 100%);
    background: linear-gradient(to bottom, #f18664 0%, #ed616c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18664', endColorstr='#ed616c',GradientType=0 ); }
  .coral:active {
    background: #ed616c;
    background: -moz-linear-gradient(top, #ed616c 0%, #f18664 100%);
    background: -webkit-linear-gradient(top, #ed616c 0%, #f18664 100%);
    background: linear-gradient(to bottom, #ed616c 0%, #f18664 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed616c', endColorstr='#f18664',GradientType=0 ); }

.tsc-cta {
  padding: 15px 50px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .06em; }
  .tsc-cta a {
    color: #ffffff; }
    .tsc-cta a:hover {
      color: #ffffff; }
  .tsc-cta.btn:hover {
    color: #ffffff;
    text-shadow: 0px 0px 40px white; }

.button {
  border: 0;
  -webkit-transition: all 100ms ease-out 200ms;
  transition: all 100ms ease-out 200ms; }

.home-footer {
  background: #38CCCE;
  background: #278D8E;
  color: #ffffff;
  box-shadow: 10px 0px 2px rgba(29, 36, 42, 0.1);
  padding: 15px 0; }
  .home-footer nav ul li {
    margin: 0 7px;
    padding: 5px; }
    .home-footer nav ul li a {
      margin: 0;
      padding: 0;
      color: #ffffff; }
      .home-footer nav ul li a:hover {
        color: #278D8E;
        background: #ffffff;
        text-decoration: none; }
    .home-footer nav ul li:hover {
      background: #ffffff;
      color: #278D8E; }

@media (min-width: 768px) {
  #header .container {
    width: 100%; }
    #header .container .nav a {
      color: #fff; }
  #header.scrolled {
    background: #ffffff; }
    #header.scrolled .header-wrap .container .nav li a {
      color: #38CCCE; }
      #header.scrolled .header-wrap .container .nav li a:hover {
        color: #2A999B; }
    #header.scrolled .header-wrap .container .nav li.signup {
      color: #F08267; }
      #header.scrolled .header-wrap .container .nav li.signup a {
        color: #F08267; }
        #header.scrolled .header-wrap .container .nav li.signup a:hover {
          color: #ED555B; }
  #header .header-wrap .mobile-btn {
    display: none; }
  #header .header-wrap .mobile-header {
    display: none; }
  #footer {
    display: none; } }

@media (min-width: 1200px) {
  #header .container {
    width: 95%;
    margin: 0 auto; } }
