a
{
    color: #3bccce;
    &:hover
    {
        color: #298D8E;
    }
}
.page-title
{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #5EA0A1;
    padding-bottom:3px;
}
table.services
{
    color: #1A5A5B;
    margin-bottom: 100px;
    .header-row
    {
        text-align: center;
        background-color: #3bccce;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: .15em;
        font-weight: bold;
    }
    .service-name
    {
        width: 20%;
        color: #298D8E;
        font-weight: bold;
        border-right: 1px solid #3bccce;
    }
}
.contact
{
    .social
    {
        text-align: center;
        background-color: #3bccce;
        color: #ffffff;
        a
        {
            color: #ffffff;
        }
    }
}