<%- include('../views/partials/header') %>

<div ng-app="tscApp" ng-class="bodyClass">

    <div id="page">
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        This page is not here.    
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #page -->

</div>
<%- include('../views/partials/footer') %>