<%- include('../views/partials/header') %>
<% var view = typeof action !== 'undefined' ? action : 'default'; %>

<div>

    <div id="page">
        <div class="single contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <%- include('blog.list.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #page -->

</div>
<%- include('../views/partials/footer') %>