<%- include('../views/partials/header') %>
<% var view = typeof action !== 'undefined' ? action : 'default'; %>

<div ng-app="tscApp" ng-class="bodyClass">

    <div id="page">
        <div class="single contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Contact us</h1>
                            </div>
                            <div class="panel-body">
                                <%- include('contact.'+view+'.ejs') %>
                            </div>
                        </div>
                        <div class="well well-lg social">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <a href="mailto:support@thesiteclinic.com">support@thesiteclinic.com</a>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <a href="https://twitter.com/thesiteclinic">Twitter</a>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <a href="https://facebook.com/TheSiteClinic">Facebook</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #page -->

</div>
<%- include('../views/partials/footer') %>