<% if(typeof tscmessage == 'undefined') tscmessage = {} %>
                                <form class="form-horizontal" action="<%= baseUrl %>/contact" method="post">
                                <% if(typeof tscmessage !== 'undefined' && typeof tscmessage.error !== 'undefined') { %>
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        <%= tscmessage.error %>
                                    </div>
                                <% } %>
                                    <div class="form-group">
                                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="<%= typeof tscmessage.firstName !== 'undefined' ? tscmessage.firstName : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="<%= typeof tscmessage.lastName !== 'undefined' ? tscmessage.lastName : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailAddy" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                          <input type="email" class="form-control" id="emailAddy" name="emailAddy" placeholder="Email" value="<%= typeof tscmessage.emailAddy !== 'undefined' ? tscmessage.emailAddy : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="message" class="col-sm-2 control-label">Message</label>
                                        <div class="col-sm-10">
                                            <textarea class="message form-control" id="message" name="message"><%= typeof tscmessage.message !== 'undefined' ? tscmessage.message : '' %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <button type="submit" class="btn btn-default">Send</button>
                                        </div>
                                    </div>
                                </form>