<%- include('../views/partials/new/header') %>

<div class="pageWrap checkout">
    <div class="page-header">
      <h1>Payment</h1>
      <h2>Here we go</h2>
    </div>
    <div class="ui stackable grid">
       <% if ( !pkg ) { %>
        <div class="invalid-payment sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui segment">
                <h3>Sorry! This is an invalid payment. Please start again.</h3>
                <a class="ui button" href="<%= baseUrl %>/services">View All Services</a>
            </div>
        </div>
    <% } else { %>
        <div class="payment-details sixteen wide mobile ten wide tablet ten wide computer column">
            <div class="ui three top attached steps">
                <div class="<%= data.step ? 'disabled' : 'active' %> step">
                    <i class="pe-7s-tools"></i>
                    <div class="content">
                        <div class="title">Issue</div>
                        <div class="description">How can we help you?</div>
                    </div>
                </div>
                <div class="<%= data.step==='1' ? 'active' : 'disabled' %> step">
                    <i class="pe-7s-chat"></i>
                    <div class="content">
                        <div class="title">Contact Info</div>
                        <div class="description">How can we get in touch?</div>
                    </div>
                </div>
                <div class="<%= data.step==='2' ? 'active' : 'disabled' %> step">
                    <i class="pe-7s-credit"></i>
                    <div class="content">
                        <div class="title">Payment</div>
                        <div class="description">How would you like to pay?</div>
                    </div>
                </div>
            </div>
            <% if ( !data.step ) { %>
            <form id="one" method="post" action="<%= baseUrl %>/pay/<%= pkg.service.id %>.<%= pkg.id %>" class="ui form attached segment">
                <input type="hidden" name="step" value="1">
                <div class="ui error message"></div>
                <div class="field">
                    <label for="tscIssueDetails">Issue details</label>
                    <textarea name="tscIssueDetails"><%= data.tscIssueDetails %></textarea>
                </div>
                <input class="ui primary submit right floated button" type="submit" value="Next">
            </form>
            <% } if (data.step === '1') { %>
            <form id="two" method="post" action="<%= baseUrl %>/pay/<%= pkg.service.id %>.<%= pkg.id %>" class="ui form attached segment">
                <input type="hidden" name="step" value="2">
                <input type="hidden" name="tscIssueDetails" value="<%= data.tscIssueDetails %>">
                <div class="ui error message"></div>
                <div class="field">
                    <label for="tscFirstName">First Name</label>
                    <input placeholder="First Name" name="tscFirstName" type="text">
                </div>
                <div class="field">
                    <label for="tscLastName">Last Name</label>
                    <input placeholder="Last Name" name="tscLastName" type="text">
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <input placeholder="Email Address" name="tscEmailAddress" required type="email">
                </div>
                <div class="field">
                    <label>Phone Number</label>
                    <input placeholder="Phone Number" name="tscPhoneNumber" type="text">
                </div>
<!--                 <div class="inline field">
                    <div class="ui checkbox">
                        <input name="terms" tabindex="0" class="hidden" type="checkbox">
                        <label>I agree to the terms and conditions</label>
                    </div>
                </div> -->
                <input class="ui primary submit right floated button" type="submit" value="Next">
            </form>
            <% } if (data.step === '2') { %>
            <form class="ui form attached segment">
                <div class="payment-options">
                    <a id="bt-button" class="ui primary submit button">Pay With PayPal</a>
                </div>
            </form>
            <% } else {} %>
        </div>
        <div class="sixteen wide mobile six wide tablet six wide computer column">
            <aside class="package-details ui segment">
                <h3>Here's What You're Ordering</h3>
                <% var frequency = pkg.frequency ? '/'+pkg.frequency : '' %>
                <div class="ui card">
                    <div class="image">
                        <i class="<%= pkg.icon %>"></i>
                        <h4 class="title"><%= pkg.name %> Package</h4>
                        $<%= pkg.cost %><%= frequency %>
                    </div>
                    <div class="content">
                    <% if (pkg.description) { %>
                        <p class="<%= pkg.features ? long : short %>"><%= pkg.description %></p>
                    <% } %>
                    <% if (pkg.features) { %>
                        <ul class="features">
                            <% for (var j=0; j<pkg.features.length; j++) { %>
                                <li><%= pkg.features[j] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                    </div>
                    <div class="extra content">
                        <%= pkg.service.name %>
                    </div>
                </div>  
            </aside>
        </div><!--/package-details-->
    <% } %>
    </div><!--/service-packages-->
</div><!--/pageWrap-->
<div class="waiting">
    <div class="ui active centered inline loader"></div>
</div>
<%- include('../views/partials/new/footer') %>
<% if (data.step === '2') { %>
<script src="https://js.braintreegateway.com/web/3.6.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.6.0/js/paypal.min.js"></script>
<script type="text/javascript">
    var paypalButton = document.getElementById('bt-button');
    // Create a Client component
    braintree.client.create({
        authorization: '<%= tkn %>'
    }, function (clientErr, clientInstance) {
        // Create PayPal component
        braintree.paypal.create({
            client: clientInstance
        }, function (err, paypalInstance) {
            paypalButton.addEventListener('click', function () {
                $('body').addClass('processing')
                // Tokenize here!
                paypalInstance.tokenize({
                    flow: 'checkout', // Required
                    amount: <%= pkg.cost %>, // Required
                    currency: 'USD', // Required
                    locale: 'en_US',
                }, function (err, tokenizationPayload) {
                    data = {
                        token:  tokenizationPayload,
                        amount: <%= pkg.cost %>,
                        srv: <%= pkg.service.id %>,
                        pkg: <%= pkg.id %>,
                        email: mysql_real_escape_string('<%= data.tscEmailAddress %>'),
                        first: mysql_real_escape_string('<%= data.tscFirstName %>'),
                        last: mysql_real_escape_string('<%= data.tscLastName %>'),
                        phone: mysql_real_escape_string('<%= data.tscPhoneNumber %>'),
                        issue: mysql_real_escape_string('<%= data.tscIssueDetails %>')
                    }
                    var jqxhr = $.post( '<%= baseUrl %>/btckout', data, function() {
                    })
                    .done(function(data) {
                        console.log(data)
                        $('body').addClass('incoming')
                        window.location.href='<%= baseUrl %>/pay/complete?p='+data
                    })
                    .fail(function() {
                        $('body').addClass('incoming')
                        window.location.href='<%= baseUrl %>/pay/error/'
                    })
                    .always(function() {
                        $('body').removeClass('processing')
                    });
                });
        });
      });
    });
</script>
<% } %>
</body>
</html>
