<%- include('../views/partials/header') %>

<div ng-app="tscApp" ng-class="bodyClass">

    <div id="page">
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <h1 class="page-title">Plans</h1>
                        <table class="table table-striped comparison">
                          <thead>
                              <th>
                                  &nbsp;
                              </th>
                              <th>
                                  Bronze Care Plan
                                  <span class="price">$79.99</span>
                              </th>
                              <th>
                                  Silver Care Plan
                                  <span class="price">$99.99</span>
                              </th>
                              <th>
                                  Gold Care Plan
                                  <span class="price">$199.99</span>
                              </th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="service-name">
                                      Jobs per month
                                  </td>
                                  <td>
                                      5
                                  </td>
                                  <td>
                                      10
                                  </td>
                                  <td>
                                      15
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Response Time
                                  </td>
                                  <td>
                                      ~24 hours
                                  </td>
                                  <td>
                                      ~12 hours
                                  </td>
                                  <td>
                                      ~6 hours
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Turnaround Time
                                  </td>
                                  <td>
                                      Max 5 days
                                  </td>
                                  <td>
                                      Max 3 days
                                  </td>
                                  <td>
                                      Max 2 days
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Number of Concurrent Jobs
                                  </td>
                                  <td>
                                      1 job at a time
                                  </td>
                                  <td>
                                      Up to 2 jobs at a time
                                  </td>
                                  <td>
                                      Up to 3 jobs at a time                      
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Number of Domains
                                  </td>
                                  <td>
                                      1 domain
                                  </td>
                                  <td>
                                      Up to 2 domains
                                  </td>
                                  <td>
                                      Up to 3 domains                      
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Maintenance Reports
                                  </td>
                                  <td>
                                      Monthly
                                  </td>
                                  <td>
                                      Weekly
                                  </td>
                                  <td>
                                      Weekly
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Additional Jobs
                                  </td>
                                  <td>
                                      $39.99/job
                                  </td>
                                  <td>
                                      $29.99/job
                                  </td>
                                  <td>
                                      $19.99/job
                                  </td>
                              </tr>

                              <tr>
                                  <td colspan=4 class="header-row">
                                     Security
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Vulnerability Scans
                                  </td>
                                  <td>
                                      Weekly
                                  </td>
                                  <td>
                                      Weekly
                                  </td>
                                  <td>
                                      Daily
                                  </td>
                              </tr>
                              <tr>
                                  <td class="service-name">
                                      Scheduled Backups
                                  </td>
                                  <td>
                                      Monthly
                                  </td>
                                  <td>
                                      Weekly
                                  </td>
                                  <td>
                                      Daily
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #page -->

</div>
<%- include('../views/partials/footer') %>