<%- include('../views/partials/header') %>

<div ng-app="tscApp" ng-class="bodyClass">
    <div id="page">
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <h1 class="page-title">Privacy</h1>
                        <div class="tsc-privacy">
                            <h2 class="section-title">OVERVIEW</h2>
                            <p>This privacy policy sets out how <strong>The Site Clinic</strong> uses and protects any information that you give <strong>The Site Clinic</strong> when you use this website.</p>

                            <p><strong>The Site Clinic</strong> is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>

                            <p><strong>The Site Clinic</strong> may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from [date].</p>

                            <h2 class="section-title">What we collect </h2>
                            <p>We may collect the following information:</p>
                            <ul>
                              <li>name and job title</li>
                              <li>contact information including email address</li>
                              <li>demographic information such as postcode, preferences and interests</li>
                              <li>passwords and usernames for websites</li>
                            </ul>

                            <h2 class="section-title">What we do with the information we gather</h2>
                            <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
                            <ul>
                                <li>To provide the service and/or product you requested</li>
                                <li>Internal record keeping.</li>
                                <li>We may use the information to improve our products and services.</li>
                                <li>We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
                                <li>We may use the information to customize the website according to your interests.</li>
                                <li>We will never sell your information.</li>
                            </ul>

                            <h2 class="section-title">Security</h2>
                 
                            <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

                            <h2 class="section-title">How we use cookies</h2>

                            <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyze web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>

                            <p>We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. </p>

                            <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. </p>

                            <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>

                            <h2 class="section-title">Links to other websites</h2>
                            <p>Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

                            <h2 class="section-title">Controlling your personal information</h2>
                            <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
                            <ul>
                            <li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</li>
                            <li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at support@thesiteclinic.com</li>
                           </ul>

                            <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>

                            <p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to support@thesiteclinic.com.</p>

                            <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #page -->

</div>
<%- include('../views/partials/footer') %>