<%- include('../views/partials/new/header') %>
<div class="pageWrap">
    <div class="service-component">
        <div class="page-header">
            <h1>Services</h1>
        </div>
        <div class="tscServices">
            <div class="ui three column stackable grid services">

            <% for (var i=0; i<services.length; i++) { %>

            <div class="column">
                <div class="content service">
                    <a href="<%= baseUrl %>/services/<%= services[i].slug %>">
                        <i class="<%= services[i].icon %>"></i>
                        <h2 class="title"><%= services[i].name %></h2>
                    </a>
                </div>
            </div>

            <% } %>

            </div><!--/services-->
        </div>
    </div>
</div>

<%- include('../views/partials/new/footer') %>
<script type="text/javascript">
    $(function () {
        var img = '<%= baseUrl %>/static/tsc-women.jpg';
        $('body').backstretch(img)
    })
</script>
</body>
</html>
