<%- include('../views/partials/new/header') %>
<div class="pageWrap packages">
    <div class="page-header">
      <h1><%= service.name %></h1>
      <h2>Which package works best for you?</h2>
    </div>
    <div class="service-packages ui stackable grid">
    <% if ( !service ) { %>
        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="service">
                <h3>Sorry! This service could not be located. Please try again.</h3>
                <a class="ui button" href="<%= baseUrl %>/services">View All Services</a>
            </div>
        </div>
    <% } else { %>
    <% var columnWidth = service.packages.length === 3 ? 'three' : 'four' %>
    <% columnWidth = service.packages.length === 4 ? 'four' : columnWidth %>
    <% columnWidth = service.packages.length === 1 ? 'one' : columnWidth %>
        <div class="<%= columnWidth %> column row">
        <% for (var i=0; i<service.packages.length; i++) { %>
        <% var package = service.packages[i]; %>
        <% var frequency = package.frequency ? '/'+package.frequency : '' %>
        <% short = 'short' %>
        <% long = 'long' %>
            <div class="column">
                <div class="service">
                    <i class="<%= service.packages[i].icon %>"></i>
                    <h3><%= package.name %></h3>
                    <div class="service-actions">
                    <% if (package.cost) { %>
                        <button class="cost">$<%= package.cost %><%= frequency %></button><br>
                    <% } else { %>
                        <a href="<%= baseUrl %>/contact" class="contact ui button">Contact</a>
                    <% } %>
                    </div><!--/service-actions-->
                    <% if (package.description) { %>
                        <p class="<%= package.features ? long : short %>"><%= package.description %></p>
                    <% } %>
                    <% if (package.features) { %>
                    <ul class="features">
                        <% for (var j=0; j<package.features.length; j++) { %>
                            <li><%= package.features[j] %></li>
                        <% } %>
                    </ul>
                    <% } %>
                    <div class="service-actions">
                    <% if (package.cost) { %>
                        <button class="cost">$<%= package.cost %><%= frequency %></button><br>
                        <a href="<%= baseUrl %>/pay/<%= service.id %>.<%= package.id %>" class="pay ui button">Purchase</a>
                    <% } else { %>
                        <a href="<%= baseUrl %>/contact" class="contact ui button">Contact</a>
                    <% } %>
                    </div><!--/service-actions-->
                </div><!--/service-->
            </div><!--/column-->
        <% } %>
        </div>
    <% } %>
    </div><!--/service-packages-->
    <footer class="page-nav">
        <a class="ui button" href="<%= baseUrl %>/services">View All Services</a>
    </footer><!--/page-nav-->
</div><!--/pageWrap-->

<%- include('../views/partials/new/footer') %>
<script type="text/javascript">
    $(function () {
        var img = '<%= baseUrl %>/static/tsc-women.jpg';
        $('body').backstretch(img)
    })
</script>
</body>
</html>
