<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>The Site Clinic | Services</title>
        <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/static/css/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
        <link rel="stylesheet" href="<%= baseUrl %>/static/Pe-icon-7-stroke.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/static/css/site.css">
    </head>
  <body>
<div class="header clearfix">
    <div class="primary logo"><img src="<%= baseUrl %>/static/thesitecliniclogoverticalwhite.png"></div>
    <nav class="menu">
        <ul class="sitewide">
            <li class="mobile"><a href="#">link</a></li>
            <li class="mobile"><a href="#">link</a></li>
            <li class=""><a href="#">link</a></li>
            <li class=""><a href="#">link</a></li>
            <li class=""><a href="#">link</a></li>
            <li class="mobile"><a href="#">link</a></li>
        </ul>
    </nav>
</div>
<div class="pageWrap">
    <div class="service-component">
        <div class="page-header">
            <h1>Services</h1>
        </div>
        <div class="tscServices">
            <div class="ui three column stackable grid services">
                <div class="column">
                    <div class="content service"><a href="/services/0/websites-wordpress"><i class="pe-7s-browser"></i> <h2 class="title">Websites &amp; WordPress</h2></a>
                    </div>
                </div>
                <div class="column">
                    <div class="content service"><a href="/services/1/marketing-social"><i class="pe-7s-volume"></i> <h2 class="title">Marketing &amp; Social</h2></a>
                    </div>
                </div>
                <div class="column">
                    <div class="content service"><a href="/services/2/security-recovery"><i class="pe-7s-door-lock"></i> <h2 class="title">Security &amp; Recovery</h2></a>
                    </div>
                </div>
                <div class="column">
                    <div class="content service"><a href="/services/3/personal-branding"><i class="pe-7s-user-female"></i> <h2 class="title">Personal Branding</h2></a>
                    </div>
                </div>
                <div class="column">
                    <div class="content service"><a href="/services/4/concierge-enterperise"><i class="pe-7s-star"></i> <h2 class="title">Concierge &amp; Enterperise</h2></a>
                    </div>
                </div>
                <div class="column">
                    <div class="content service"><a href="/services/5/other-services"><i class="pe-7s-monitor"></i> <h2 class="title">Other Services</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="<%= baseUrl %>/static/f.js"></script>
  </body>
</html>
