<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <title>The Site Clinic</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/tsc.css">
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/home.css">
  <link rel="stylesheet" type="text/css" href="http://tsc.dev:3030/assets/css/onboard.css">
</head>
<body class="body single">

<div id="header">
    <div class="header-wrap">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="logo">
                <a href="/">The Site Clinic</a>
              </div>
            </div>
            <div class="hidden-xs col-sm-5">
              <nav>
                <ul class="nav main navbar-nav">
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Plans</a></li>
                  <!-- <li><a href="#">Blog</a></li> -->
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="hidden-xs col-sm-4">
              <nav>
                <ul class="nav guard navbar-nav">
                  <li class="login"><a href="http://tsc.dev:3030/login">Login</a></li>
                  <li class="signup"><a href="http://tsc.dev:3030/start">Get Started</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="mobile-btn">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class="mobile-header">
            <nav>
              <ul class="nav main navbar-nav">
                <li><a href="#">Services</a></li>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div><!-- #header -->
<div ng-app="tscApp" ng-class="bodyClass">
    <div id="page">
        <div class="single-post">
            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-8 col-md-push-2">
                      <div class="post">
                          <h1 class="post-title">My Fourth Post</h1>
                          <p>We got this.</p>
                          <p>A really short, rushed-feeling string of words.</p>


                        </div>
                    </div><!--col-->
                    <div class="col-xs-12 col-md-2 col-md-pull-8">
                        <div class="sidebar-wrap">
                            December 7th 2012, 12:00 am
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </div><!--.single-->
    </div><!-- #page -->
</div>

    <div class="home-footer" id="home-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav>
                      <ul class="nav navbar-nav">
                        <li><a href="http://tsc.dev:3030/services">Services</a></li>
                        <li><a href="http://tsc.dev:3030/plans">Plans</a></li>
                        <li><a href="http://tsc.dev:3030/blog">Blog</a></li>
                        <li><a href="http://tsc.dev:3030/terms">Terms</a></li>
                        <li><a href="http://tsc.dev:3030/privacy">Privacy</a></li>
                        <li><a href="http://tsc.dev:3030/contact">Contact</a></li>
                        <li><a href="http://tsc.dev:3030/login">Login</a></li>
                        <li>&copy; 2016 The Site Clinic</li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<script src="http://tsc.dev:3030/assets/js/lib/jquery.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/bootstrap.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/angular-cookies.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/angular-ui-router.js"></script>
<script src="http://tsc.dev:3030/assets/js/lib/jquery.backstretch.min.js"></script>
<script src="http://tsc.dev:3030/assets/js/tsc.js"></script>

</body>
</html>