

    <div class="home-footer" id="home-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav>
                      <ul class="nav navbar-nav">
                        <li><a href="<%= baseUrl %>/services">Services</a></li>
                        <li><a href="<%= baseUrl %>/plans">Plans</a></li>
                        <li><a href="<%= baseUrl %>/blog">Blog</a></li>
                        <li><a href="<%= baseUrl %>/terms">Terms</a></li>
                        <li><a href="<%= baseUrl %>/privacy">Privacy</a></li>
                        <li><a href="<%= baseUrl %>/contact">Contact</a></li>
                        <li><a href="<%= baseUrl %>/login">Login</a></li>
                        <li>&copy; 2016 The Site Clinic</li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<script src="<%= baseUrl %>/assets/js/lib/jquery.min.js"></script>
<script src="<%= baseUrl %>/assets/js/lib/bootstrap.min.js"></script>
<script src="<%= baseUrl %>/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="<%= baseUrl %>/assets/js/lib/angular-cookies.js"></script>
<script src="<%= baseUrl %>/assets/js/lib/angular-ui-router.js"></script>
<script src="<%= baseUrl %>/assets/js/lib/jquery.backstretch.min.js"></script>
<script src="<%= baseUrl %>/assets/js/config.js"></script>
<script src="<%= baseUrl %>/assets/js/tsc.js"></script>

</body>
</html>