<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <title>The Site Clinic</title><% var single = typeof single !== 'undefined' ? single : false; %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">


  <meta property="og:url" content="<%= baseUrl %>">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="The Site Clinic">
  <meta property="og:title" content="The Site Clinic">
  <meta property="og:description" content="Reliable website support, repair, and maintenance">
  <meta property="og:image" content="<%= baseUrl %>/assets/img/thesiteclinic_large.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@thesiteclinic">
  <meta name="twitter:creator" content="@thesiteclinic">
  <meta name="twitter:title" content="The Site Clinic">
  <meta name="twitter:domain" content="The Site Clinic">
  <meta name="twitter:description" content="Reliable website support, repair, and maintenance">
  <meta name="twitter:image" content="<%= baseUrl %>/assets/img/thesiteclinic_large.png">

  <link rel="icon" type="image/png" href="<%= baseUrl %>/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" href="<%= baseUrl %>/favicon/favicon.ico?v=2">
  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/assets/css/tsc.css">
  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/assets/css/home.css">
  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/assets/css/onboard.css">
  <% if(single) { %>
  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/assets/css/single.css">
  <% } %>
</head>
<body class="body<%= single ? ' single' : '' %>">
<% if( baseUrl == 'https://thesiteclinic.com') { %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-76336424-1', 'auto');
  ga('send', 'pageview');
</script>
<% } %>
<div id="header">
    <div class="header-wrap">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="logo">
                <a href="/">The Site Clinic</a>
              </div>
            </div>
            <div class="hidden-xs col-sm-5">
              <nav>
                <ul class="nav main navbar-nav">
                  <li><a href="<%= baseUrl %>">Home</a></li>
                  <li><a href="<%= baseUrl %>/services">Services</a></li>
                  <li><a href="<%= baseUrl %>/blog">Blog</a></li>
                  <li><a href="<%= baseUrl %>/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="hidden-xs col-sm-4">
              <nav>
                <ul class="nav guard navbar-nav">
                  <li class="login"><a href="<%= baseUrl %>/login">Login</a></li>
                  <li class="signup"><a href="<%= baseUrl %>/start">Get Started</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="mobile-btn">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class="mobile-header">
            <nav>
              <ul class="nav main navbar-nav">
                <li><a href="#">Services</a></li>
                <li><a href="#">Plans</a></li>
                <!-- <li><a href="#">Blog</a></li> -->
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div><!-- #header -->