<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <base href="/">
  <link rel="icon" type="image/png" href="<%= baseUrl %>/assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>The Site Clinic | Dashboard</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="<%= baseUrl %>/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="<%= baseUrl %>/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="<%= baseUrl %>/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="<%= baseUrl %>/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="<%= baseUrl %>/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div>
<div id="tscDashboard" class="tscDashboard">
<div class="wrapper">
<%- include('sidebar') %>

    <div class="main-panel">
        <%- include('navigation') %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">