
    <div class="sidebar" data-color="<%= user.role_id=='0' ? 'turquoise':'green' %>" data-image="assets/img/tsc-woman-phone.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.thesiteclinic.com" class="simple-text">
                    The Site Clinic
                </a>
            </div>


            <ul class="nav">
                <li class="<%= screen=='index' ? 'active':'' %>">
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="<%= screen=='tickets' ? 'active':'' %>">
                    <a href="/dashboard/tickets">
                        <i class="pe-7s-note2"></i>
                        <p>Tickets</p>
                    </a>
                </li>
                <li class="<%= screen=='messages' ? 'active':'' %>">
                    <a href="/dashboard/messages">
                        <i class="pe-7s-chat"></i>
                        <p>Messages</p>
                    </a>
                </li>
                <li class="<%= screen=='notifications' ? 'active':'' %>">
                    <a href="/dashboard/notifications">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="<%= screen=='profile' ? 'active':'' %>">
                    <a href="/dashboard/profile">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>